workflows/recherche_appart_rennes.json
{
  "id": "recherche-appart-rennes-workflow",
  "name": "Recherche Appart Rennes T2/T3",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Cron - Vérif annonces",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [300, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsBetweenTriggers": 30
            }
          ]
        }
      }
    },
    {
      "id": "config-node",
      "name": "Config critères (défaut)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "surface_min_m2", "name": "surface_min_m2", "value": 35, "type": "number" },
            { "id": "surface_max_m2", "name": "surface_max_m2", "value": 75, "type": "number" },
            { "id": "prix_max_cc", "name": "prix_max_cc", "value": 700, "type": "number" },
            { "id": "pieces_min", "name": "pieces_min", "value": 2, "type": "number" },
            { "id": "pieces_max", "name": "pieces_max", "value": 3, "type": "number" },
            { "id": "villes_cibles", "name": "villes_cibles", "value": "[\"Saint-Grégoire\",\"Chantepie\",\"Cesson-Sévigné\",\"Pacé\", \"Bruz\", \"Thorigné-Fouillard\", \"Fougères\", \"Noyal-Châtillon-sur-Seiche\", \"Montgermont\", \"Betton\", \"Le Rheu\", \"Saint-Jacques-de-la-Lande\", \"Chartres-de-Bretagne\"]", "type": "string" },
            { "id": "ville_speciale", "name": "ville_speciale", "value": "Rennes", "type": "string" },
            { "id": "quartier_rennes", "name": "quartiers_rennes_seulement", "value": "Cleunay,La Courrouze", "type": "string" },
            { "id": "zone_ids_bienici", "name": "zone_ids_bienici", "value": "-145996,-29339,-78150,-75588,-54517", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "bienici-http",
      "name": "Bienici - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.bienici.com/realEstateAds.json?filters=' + encodeURIComponent(JSON.stringify({ size: 24, from: 0, filterType: 'rent', propertyType: ['house','flat'], maxPrice: $('Config critères (défaut)').first().json.prix_max_cc, minRooms: $('Config critères (défaut)').first().json.pieces_min, maxRooms: $('Config critères (défaut)').first().json.pieces_max, minArea: $('Config critères (défaut)').first().json.surface_min_m2, maxArea: $('Config critères (défaut)').first().json.surface_max_m2, page: 1, sortBy: 'relevance', sortOrder: 'desc', onTheMarket: [true], mapMode: 'enabled', newProperty: false, blurInfoType: ['disk','exact'], zoneIdsByTypes: { zoneIds: ($('Config critères (défaut)').first().json.zone_ids_bienici || '-145996,-29339,-78150,-75588,-54517').split(',').map(z => z.trim()).filter(Boolean) } })) + '&extensionType=extendedIfNoResult&enableGoogleStructuredDataAggregates=true&leadingCount=2&id=69ac364ff3e55c00b4185c9f' }}",
        "options": {}
      }
    },
    {
      "id": "bienici-transform",
      "name": "Bienici - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst body = item.json.realEstateAds ?? item.json.body?.realEstateAds ?? item.json;\nconst ads = Array.isArray(body) ? body : (body.realEstateAds || []);\nreturn ads.map(ad => ({\n  json: {\n    source: 'bienici',\n    id_site: ad.id || '',\n    titre: ad.title || '',\n    description: (ad.description || '').replace(/<[^>]+>/g, ' ').trim().slice(0, 500),\n    ville: ad.city || ad.district?.name || '',\n    quartier: ad.district?.libelle || ad.district?.name || '',\n    adresse: '',\n    pieces: ad.roomsQuantity ?? null,\n    surface_m2: ad.surfaceArea ?? null,\n    loyer_cc: ad.price ?? null,\n    charges: ad.charges ?? null,\n    meuble: ad.isFurnished ?? null,\n    url: `https://www.bienici.com/annonce/location/${(ad.city || '').toLowerCase().replace(/\\s+/g, '-')}-${ad.postalCode || ''}/${ad.id || ''}`,\n    date_publication: ad.publicationDate || null\n  }\n}));"
      }
    },
    {
      "id": "trentecinq-http",
      "name": "Trente Cinq Notaires - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 400],
      "parameters": {
        "method": "GET",
        "url": "https://www.trente-cinq-notaires.fr/recherche-annonces-immobilieres-notaires-bruz.html",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "trentecinq-transform",
      "name": "Trente Cinq Notaires - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.trente-cinq-notaires.fr';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst cardBlocks = html.split(/<div class=\"il-card-wrap\">/).slice(1);\nconst out = [];\nfor (const block of cardBlocks) {\n  if (!block.includes('il-card--LOCA') && !/il-card-transaction\">\\s*Location\\s*</.test(block)) continue;\n  const hrefMatch = block.match(/<a href=\"(\\/recherche-annonces-immobilieres-notaires-bruz\\/[^\"]+\\.html)\"\\s+class=\"reset-link\">/);\n  const path = hrefMatch ? hrefMatch[1] : '';\n  const url = path ? BASE + path : '';\n  const localeMatch = block.match(/il-card-locale\">([^<]+)</);\n  const locale = (localeMatch && localeMatch[1]) ? localeMatch[1].trim() : '';\n  const idx = locale.lastIndexOf(' - ');\n  const ville = (idx >= 0 ? locale.slice(0, idx) : locale).trim() || '';\n  const priceMatch = block.match(/Loyer\\s*:\\s*([\\d\\s,]+)/);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/[^\\d,]/g, '').replace(',', '.') : '';\n  const loyer_cc = loyerStr ? parseFloat(loyerStr) : null;\n  const refMatch = block.match(/Réf:\\s*([\\d\\-]+)/);\n  const id_site = (refMatch && refMatch[1]) ? refMatch[1].trim() : '';\n  const surfaceMatch = block.match(/Intérieur[\\s\\S]*?<strong>\\s*([\\d,\\.]+)\\s*m²/);\n  const surfaceStr = surfaceMatch ? surfaceMatch[1].replace(',', '.') : '';\n  const surface_m2 = surfaceStr ? parseFloat(surfaceStr) : null;\n  const piecesMatch = block.match(/<strong>(\\d+)<\\/strong>\\s*<span>Pièces/);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const typeMatch = block.match(/il-card-type\">([^<]+)</);\n  const typeBien = (typeMatch && typeMatch[1]) ? typeMatch[1].trim() : '';\n  let description = '';\n  const excerptMatch = block.match(/il-card-excerpt\">\\s*([\\s\\S]*?)<\\/p>/);\n  if (excerptMatch && excerptMatch[1]) {\n    description = excerptMatch[1].replace(/<small>[\\s\\S]*?<\\/small>/, '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500);\n  }\n  const titre = [typeBien, ville].filter(Boolean).join(' - ') || 'Annonce ' + id_site;\n  out.push({\n    json: {\n      source: 'trentecinq',\n      id_site,\n      titre,\n      description,\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "actionlogement-http",
      "name": "Action Logement - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 620],
      "parameters": {
        "method": "POST",
        "url": "https://api.logement-actionlogement.fr/api/v1/demands/public/offers-overview?size=20&page=0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { municipalities: [{ code: '35238', postcode: '35000' }], searchRadiusInKm: 50, maxRent: $('Config critères (défaut)').first().json.prix_max_cc, typologyCodes: ['T2','T3'], productGuids: ['712f4424-7590-4912-8ed8-f192b26557f8'] } }}",
        "options": {}
      }
    },
    {
      "id": "actionlogement-transform",
      "name": "Action Logement - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 620],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE_URL = 'https://logement-actionlogement.fr/search/detail/';\nconst item = $input.first();\nconst body = item.json?.data ?? item.json;\nconst data = Array.isArray(body) ? body : (body?.data || []);\nconst typoToPieces = { 'T1': 1, 'T2': 2, 'T3': 3, 'T4': 4, 'T5': 5 };\nreturn data.map(o => {\n  const lodg = o.lodging || {};\n  const muni = lodg.municipality || {};\n  const typo = lodg.lodgingTypology || {};\n  const pieces = typoToPieces[typo.code] ?? null;\n  const desc = (lodg.description || o.description || '').replace(/\\s+/g, ' ').trim().slice(0, 500);\n  return {\n    json: {\n      source: 'actionlogement',\n      id_site: String(o.reference || o.id || ''),\n      titre: [typo.commercialLabel || typo.label, muni.name].filter(Boolean).join(' - ') || 'Annonce ' + (o.reference || o.id),\n      description: desc,\n      ville: muni.name || '',\n      quartier: (o.residency && o.residency.name) || '',\n      adresse: (o.residency && o.residency.name) || '',\n      pieces,\n      surface_m2: lodg.area ?? null,\n      loyer_cc: o.totalRentAmountBaseBound ?? null,\n      charges: o.estimatedExternalCharges ?? null,\n      meuble: null,\n      url: o.guid ? BASE_URL + o.guid : '',\n      date_publication: o.startDateOfPublication ?? null\n    }\n  };\n});"
      }
    },
    {
      "id": "giboire-http",
      "name": "Giboire - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 840],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const c = $('Config critères (défaut)').first().json; const minB = Math.max(0, (c.pieces_min || 2) - 1); const maxB = Math.max(0, (c.pieces_max || 3) - 1); let beds = ''; for (let i = minB; i <= maxB; i++) beds += '&nbBedrooms%5B%5D=' + i; return 'https://www.giboire.com/recherche-location/appartement_maison/?searchBy=default&address%5B%5D=35&priceMax=' + (c.prix_max_cc || 700) + '&livingSurfaceMin=' + (c.surface_min_m2 || 35) + '&livingSurfaceMax=' + (c.surface_max_m2 || 75) + beds + '&transactionType%5B%5D=Location&searchBy=default'; })() }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "giboire-transform",
      "name": "Giboire - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 840],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nlet html = item.json?.data ?? item.json?.body ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst out = [];\nconst articleRegex = /<article class=\"card card--list-mobile\"\\s+entityid=\"(\\d+)\"[^>]*>([\\s\\S]*?)<\\/article>/gi;\nlet m;\nwhile ((m = articleRegex.exec(html)) !== null) {\n  const id_site = (m[1] || '').trim();\n  const block = m[2] || '';\n  const hrefMatch = block.match(/<a href=\"(https?:\\/\\/[^\"]+)\"[^>]*class=\"card_title[^\"]*\"[^>]*>([^<]*)<\\/a>/i);\n  const url = (hrefMatch && hrefMatch[1]) ? hrefMatch[1].trim() : '';\n  const titre = (hrefMatch && hrefMatch[2]) ? hrefMatch[2].trim() : '';\n  const subtitleMatch = block.match(/<h3 class=\"card_subtitle\">([^<]+)<\\/h3>/);\n  const villeRaw = (subtitleMatch && subtitleMatch[1]) ? subtitleMatch[1].trim() : '';\n  const ville = villeRaw.replace(/\\s*\\(\\s*\\d+\\s*\\)\\s*$/, '').trim();\n  const priceMatch = block.match(/<h4 class=\"card_price\">\\s*([\\d\\s]+)\\s*€/);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/\\s/g, '') : '';\n  const loyer_cc = loyerStr ? parseInt(loyerStr, 10) : null;\n  const surfaceMatch = block.match(/card_info_item\">[^<]*[\\s\\S]*?(\\d+)\\s*m2/);\n  const surface_m2 = surfaceMatch ? parseInt(surfaceMatch[1], 10) : null;\n  const piecesMatch = block.match(/card_info_item\">[^<]*[\\s\\S]*?(\\d+)\\s*chambres/);\n  const piecesRaw = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const pieces = piecesRaw != null ? piecesRaw + 1 : null;\n  const refMatch = block.match(/ref\\.\\s*([\\d\\-]+)/i);\n  const ref = (refMatch && refMatch[1]) ? refMatch[1].trim() : id_site;\n  out.push({\n    json: {\n      source: 'giboire',\n      id_site: ref || id_site,\n      titre: titre || 'Annonce ' + (ref || id_site),\n      description: '',\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "afedim-http",
      "name": "Afedim - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 1020],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.afedim.fr/fr/location/annonces/Appartement-Maison/Ille-et-Vilaine-France/' + ($('Config critères (défaut)').first().json.pieces_min || 2) + '-' + ($('Config critères (défaut)').first().json.pieces_max || 3) + '-pieces/surface-' + ($('Config critères (défaut)').first().json.surface_min_m2 || 35) + '-' + ($('Config critères (défaut)').first().json.surface_max_m2 || 75) + '-m2/budget-0-' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '-euros/rayon-0-km/disponible-False/options-NonMeuble/exclusPlafondRess-False/Resultats' }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "afedim-transform",
      "name": "Afedim - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 1020],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.afedim.fr';\nfunction decodeHtml(str) {\n  if (!str || typeof str !== 'string') return '';\n  return str.replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(parseInt(n, 10)))\n    .replace(/&#x([0-9a-f]+);/gi, (_, n) => String.fromCharCode(parseInt(n, 16)));\n}\nconst item = $input.first();\nlet html = item.json?.data ?? item.json?.body ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst out = [];\nconst cardBlocks = html.split(/<li class=\"item\">/).slice(1);\nfor (const block of cardBlocks) {\n  const titleMatch = block.match(/<p[^>]*class=\"ei_productcard__title\"[^>]*>\\s*<a[^>]+href=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/i) || block.match(/<a[^>]+href=\"([^\"]*\\/Fiche)\"[^>]*>([\\s\\S]*?)<\\/a>/i);\n  const path = (titleMatch && titleMatch[1]) ? titleMatch[1].trim() : '';\n  const url = path ? (path.startsWith('http') ? path : BASE + path) : '';\n  let titre = (titleMatch && titleMatch[2]) ? titleMatch[2].replace(/\\s+/g, ' ').trim() : '';\n  titre = decodeHtml(titre);\n  const idMatch = url.match(/\\/(\\d+)\\/Fiche/);\n  const id_site = (idMatch && idMatch[1]) ? idMatch[1] : '';\n  const subtitleMatch = block.match(/<p class=\"ei_productcard__subtitle\">([^<]+)<\\/p>/);\n  const ville = (subtitleMatch && subtitleMatch[1]) ? decodeHtml(subtitleMatch[1].trim()) : '';\n  const priceMatch = block.match(/ei_blcdata_valtext[^>]*>([^<]+)</);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/\\s/g, '').replace(',', '.') : '';\n  const loyer_cc = loyerStr ? parseFloat(loyerStr) : null;\n  const blockDecoded = decodeHtml(block);\n  let surface_m2 = null;\n  const surfaceNumMatch = blockDecoded.match(/([\\d,]+)\\s*m\\s*²/i) || blockDecoded.match(/([\\d,]+)\\s*m2/i) || block.match(/([\\d,]+)\\s*m²/i) || block.match(/([\\d,]+)\\s*m\\s*&#178;/i);\n  if (surfaceNumMatch) {\n    const surfaceStr = (surfaceNumMatch[1] || '').replace(',', '.');\n    surface_m2 = surfaceStr ? parseFloat(surfaceStr) : null;\n  }\n  const piecesMatch = block.match(/(\\d+)-pieces\\/\\d+\\/Fiche/) || block.match(/href=\"[^\"]*\\/(\\d+)-pieces\\//) || titre.match(/(\\d+)\\s*pièces/);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  out.push({\n    json: {\n      source: 'afedim',\n      id_site: id_site || ('afedim_' + (url || '').slice(-8)),\n      titre: titre || 'Annonce ' + id_site,\n      description: '',\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: 'non',\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nreturn out.filter(({ json }) => {\n  const id = json.id_site;\n  if (seen.has(id)) return false;\n  seen.add(id);\n  return true;\n});"
      }
    },
    {
      "id": "merge-branches",
      "name": "Fusionner branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1580, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-2",
      "name": "Fusionner branches 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1960, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-3",
      "name": "Fusionner branches 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2140, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-4",
      "name": "Fusionner branches 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2320, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "normalize-node",
      "name": "Normaliser annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const allItems = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const html = (j.data != null && typeof j.data === 'string') ? j.data : (j.body != null && typeof j.body === 'string') ? j.body : '';\n  let source = j.source || '';\n  if (html && !source) {\n    if (/bienici\\.com|bien'ici/i.test(html)) source = 'bienici';\n    else if (/seloger/i.test(html)) source = 'seloger';\n    else source = 'inconnu';\n  }\n  if (html && !j.titre && !j.loyer_cc && !j.surface_m2) {\n    continue;\n  }\n  if (!j.titre && (j.loyer_cc == null || j.loyer_cc === 0) && (j.surface_m2 == null || j.surface_m2 === 0)) {\n    continue;\n  }\n  allItems.push({\n    json: {\n      source: source || 'inconnu',\n      id_site: j.id_site || '',\n      titre: j.titre || '',\n      description: j.description || '',\n      ville: j.ville || '',\n      quartier: j.quartier || '',\n      adresse: j.adresse || '',\n      pieces: j.pieces ?? null,\n      surface_m2: j.surface_m2 ?? null,\n      loyer_cc: j.loyer_cc ?? null,\n      charges: j.charges ?? null,\n      meuble: j.meuble ?? null,\n      url: j.url || '',\n      date_publication: j.date_publication ?? null\n    }\n  });\n}\nreturn allItems;"
      }
    },
    {
      "id": "filter-node",
      "name": "Filtrer selon critères",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const cfg = $('Config critères (défaut)').first().json;\nfunction normalizeVille(str) {\n  return (str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\u0300-\u036f]/g, '')\n    .replace(/-/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction matchVille(item) {\n  const villeNorm = normalizeVille(item.ville);\n  const contenu = ((item.quartier || '') + ' ' + (item.description || '') + ' ' + (item.titre || '')).toLowerCase();\n  const villesCiblesNorm = JSON.parse(cfg.villes_cibles || '[]').map(v => normalizeVille(v));\n  if (villesCiblesNorm.includes(villeNorm)) return true;\n  if (villeNorm === normalizeVille(cfg.ville_speciale || '')) {\n    const quartiersRennes = (cfg.quartiers_rennes_seulement || '').split(',').map(q => q.trim().toLowerCase()).filter(Boolean);\n    return quartiersRennes.some(q => contenu.includes(q));\n  }\n  return false;\n}\nconst output = [];\nfor (const item of $input.all()) {\n  const a = item.json;\n  const surface = Number(a.surface_m2 || 0);\n  const prix = Number(a.loyer_cc || 0);\n  const pieces = Number(a.pieces || 0);\n  if (surface < cfg.surface_min_m2 || surface > cfg.surface_max_m2) continue;\n  if (prix <= 0 || prix > cfg.prix_max_cc) continue;\n  if (pieces < cfg.pieces_min || pieces > cfg.pieces_max) continue;\n  if (!matchVille(a)) continue;\n  output.push({ json: a });\n}\nreturn output;"
      }
    },
    {
      "id": "id-global-node",
      "name": "Construire id_global",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function normalize(str) {\n  return (str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[^a-z0-9 ]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nconst j = $input.item.json;\nconst keyBase = [\n  normalize(j.ville),\n  normalize(j.quartier),\n  normalize(j.titre),\n  String(j.surface_m2 || ''),\n  String(j.loyer_cc || '')\n].join('|');\nlet hash = 0;\nfor (let i = 0; i < keyBase.length; i++) {\n  hash = ((hash << 5) - hash) + keyBase.charCodeAt(i);\n  hash |= 0;\n}\nj.id_global = 'a_' + Math.abs(hash);\nj._isAnnonce = true;\nreturn { json: j };"
      }
    },
    {
      "id": "sheets-read-all",
      "name": "GS - Lire toutes les lignes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3440, 620],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1iPINAVHymzg7lN4DIi3YJyFYXIwpVvy7C0zPNGMcL3c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Feuille 1", "mode": "name" }
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "id": "merge-doublons",
      "name": "Merge annonces + sheet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3440, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "filter-doublons-code",
      "name": "Filtrer doublons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const all = $input.all();\nconst annonces = all.filter(i => i.json._isAnnonce === true);\nconst sheetRows = all.filter(i => i.json._isAnnonce !== true);\nfunction getId(row) {\n  const j = row.json;\n  const key = Object.keys(j).find(k => k.trim().toLowerCase() === 'id_global');\n  return String(key ? j[key] : j.id_global || '').trim();\n}\nconst existingIds = new Set(sheetRows.map(r => getId(r)));\nlet kept = annonces.filter(a => !existingIds.has(getId(a)));\nconst seenId = new Set();\nkept = kept.filter(a => { const id = getId(a); if (seenId.has(id)) return false; seenId.add(id); return true; });\nreturn kept.map(a => {\n  const j = { ...a.json };\n  delete j._isAnnonce;\n  return { json: j };\n});"
      }
    },
    {
      "id": "sheets-append",
      "name": "GS - Enregistrer annonces",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [4080, 200],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1iPINAVHymzg7lN4DIi3YJyFYXIwpVvy7C0zPNGMcL3c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Feuille 1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_global": "={{ $json.id_global }}",
            "id_site": "={{ $json.id_site }}",
            "source": "={{ $json.source }}",
            "titre": "={{ $json.titre }}",
            "description": "={{ $json.description }}",
            "ville": "={{ $json.ville }}",
            "quartier": "={{ $json.quartier }}",
            "adresse": "={{ $json.adresse }}",
            "pieces": "={{ $json.pieces }}",
            "surface_m2": "={{ $json.surface_m2 }}",
            "loyer_cc": "={{ $json.loyer_cc }}",
            "charges": "={{ $json.charges }}",
            "meuble": "={{ $json.meuble }}",
            "url": "={{ $json.url }}",
            "date_publication": "={{ $json.date_publication }}",
            "date_detection": "={{ $now.toISO() }}",
            "statut": "nouveau"
          }
        }
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets" } }
    },
    {
      "id": "groq-http",
      "name": "Groq - Générer message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4080, 400],
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Tu rédiges des messages courts pour Telegram à partir d'annonces immobilières.\" },\n    { \"role\": \"user\", \"content\": \"Résumé 3-4 lignes en français. Inclure type (T2/T3), ville/quartier, surface, prix CC et lien.\\nTitre: {{ $json.titre }}\\nVille: {{ $json.ville }} {{ $json.quartier }}\\nSurface: {{ $json.surface_m2 }} m², Loyer: {{ $json.loyer_cc }} €/mois CC\\nURL: {{ $json.url }}\" }\n  ]\n}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Groq_API" } }
    },
    {
      "id": "extract-message-node",
      "name": "Extraire texte Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const res = $input.item.json;\nconst choice = (res.choices && res.choices[0]) || {};\nconst msg = (choice.message && choice.message.content) || '';\nconst prev = $('Filtrer doublons').item.json;\nreturn { json: { ...prev, message_telegram: msg || 'Nouvelle annonce' } };"
      }
    },
    {
      "id": "telegram-node",
      "name": "Telegram - Envoyer message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4720, 400],
      "parameters": {
        "chatId": "6558659046",
        "text": "={{ $json.message_telegram || 'Nouvelle annonce' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": { "telegramApi": { "id": "", "name": "Telegram" } }
    }
  ],
  "connections": {
    "Cron - Vérif annonces": {
      "main": [[{ "node": "Config critères (défaut)", "type": "main", "index": 0 }]]
    },
    "Config critères (défaut)": {
      "main": [[
        { "node": "Bienici - Récup annonces", "type": "main", "index": 0 },
        { "node": "Trente Cinq Notaires - Récup HTML", "type": "main", "index": 0 },
        { "node": "Action Logement - Récup annonces", "type": "main", "index": 0 },
        { "node": "Giboire - Récup annonces", "type": "main", "index": 0 },
        { "node": "Afedim - Récup annonces", "type": "main", "index": 0 },
        { "node": "GS - Lire toutes les lignes", "type": "main", "index": 0 }
      ]]
    },
    "Bienici - Récup annonces": {
      "main": [[{ "node": "Bienici - Vers format annonces", "type": "main", "index": 0 }]]
    },
    "Bienici - Vers format annonces": {
      "main": [[{ "node": "Fusionner branches", "type": "main", "index": 0 }]]
    },
    "Trente Cinq Notaires - Récup HTML": {
      "main": [[{ "node": "Trente Cinq Notaires - Vers format annonces", "type": "main", "index": 0 }]]
    },
    "Trente Cinq Notaires - Vers format annonces": {
      "main": [[{ "node": "Fusionner branches", "type": "main", "index": 1 }]]
    },
    "Action Logement - Récup annonces": {
      "main": [[{ "node": "Action Logement - Vers format annonces", "type": "main", "index": 0 }]]
    },
    "Action Logement - Vers format annonces": {
      "main": [[{ "node": "Fusionner branches 2", "type": "main", "index": 1 }]]
    },
    "Giboire - Récup annonces": {
      "main": [[{ "node": "Giboire - Vers format annonces", "type": "main", "index": 0 }]]
    },
    "Giboire - Vers format annonces": {
      "main": [[{ "node": "Fusionner branches 3", "type": "main", "index": 1 }]]
    },
    "Afedim - Récup annonces": {
      "main": [[{ "node": "Afedim - Vers format annonces", "type": "main", "index": 0 }]]
    },
    "Afedim - Vers format annonces": {
      "main": [[{ "node": "Fusionner branches 4", "type": "main", "index": 1 }]]
    },
    "Fusionner branches": {
      "main": [[{ "node": "Fusionner branches 2", "type": "main", "index": 0 }]]
    },
    "Fusionner branches 2": {
      "main": [[{ "node": "Fusionner branches 3", "type": "main", "index": 0 }]]
    },
    "Fusionner branches 3": {
      "main": [[{ "node": "Fusionner branches 4", "type": "main", "index": 0 }]]
    },
    "Fusionner branches 4": {
      "main": [[{ "node": "Normaliser annonces", "type": "main", "index": 0 }]]
    },
    "Normaliser annonces": {
      "main": [[{ "node": "Filtrer selon critères", "type": "main", "index": 0 }]]
    },
    "Filtrer selon critères": {
      "main": [[{ "node": "Construire id_global", "type": "main", "index": 0 }]]
    },
    "Construire id_global": {
      "main": [[{ "node": "Merge annonces + sheet", "type": "main", "index": 0 }]]
    },
    "GS - Lire toutes les lignes": {
      "main": [[{ "node": "Merge annonces + sheet", "type": "main", "index": 1 }]]
    },
    "Merge annonces + sheet": {
      "main": [[{ "node": "Filtrer doublons", "type": "main", "index": 0 }]]
    },
    "Filtrer doublons": {
      "main": [[
        { "node": "GS - Enregistrer annonces", "type": "main", "index": 0 },
        { "node": "Groq - Générer message", "type": "main", "index": 0 }
      ]]
    },
    "Groq - Générer message": {
      "main": [[{ "node": "Extraire texte Groq", "type": "main", "index": 0 }]]
    },
    "Extraire texte Groq": {
      "main": [[{ "node": "Telegram - Envoyer message", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "timezone": "Europe/Paris" },
  "meta": { "templateCredsSetupCompleted": false }
}
