workflows/recherche_appart_rennes.json
{
  "id": "recherche-appart-rennes-workflow",
  "name": "Recherche Appart Rennes T2/T3",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Cron - Vérif annonces",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        224
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesBetweenTriggers": 5
            }
          ]
        }
      }
    },
    {
      "id": "config-node",
      "name": "Config critères (défaut)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        224
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "surface_min_m2",
              "name": "surface_min_m2",
              "value": 35,
              "type": "number"
            },
            {
              "id": "surface_max_m2",
              "name": "surface_max_m2",
              "value": 75,
              "type": "number"
            },
            {
              "id": "prix_max_cc",
              "name": "prix_max_cc",
              "value": 700,
              "type": "number"
            },
            {
              "id": "pieces_min",
              "name": "pieces_min",
              "value": 2,
              "type": "number"
            },
            {
              "id": "pieces_max",
              "name": "pieces_max",
              "value": 3,
              "type": "number"
            },
            {
              "id": "villes_cibles",
              "name": "villes_cibles",
              "value": "[\"Saint-Grégoire\",\"Chantepie\",\"Cesson-Sévigné\",\"Pacé\",\"Bruz\",\"Thorigné-Fouillard\",\"Noyal-Châtillon-sur-Seiche\",\"Montgermont\",\"Betton\",\"Le Rheu\",\"Saint-Jacques-de-la-Lande\",\"Chartres-de-Bretagne\",\"Mordelles\",\"Gévezé\",\"Bédée\",\"Romillé\",\"Breteil\",\"Clayes\",\"La Nouaye\",\"Montfort-sur-Meu\",\"Iffendic\",\"Talensac\",\"Saint-Gonlay\",\"Parthenay-de-Bretagne\",\"Langan\",\"Irodouer\",\"Saint-Gilles\",\"L'Hermitage\",\"La Chapelle-Thouarault\",\"Cintré\",\"La Chapelle-du-Lou-du-Lac\",\"Saint-Uniac\",\"Landujan\",\"Montauban-de-Bretagne\",\"Langouet\",\"Vezin-le-Coquet\",\"Saint-M'Hervon\",\"Pleumeleuc\"]",
              "type": "string"
            },
            {
              "id": "ville_speciale",
              "name": "ville_speciale",
              "value": "Rennes",
              "type": "string"
            },
            {
              "id": "quartier_rennes",
              "name": "quartiers_rennes_seulement",
              "value": "Cleunay,La Courrouze,St Jacques,Arsenal",
              "type": "string"
            },
            {
              "id": "zone_ids_bienici",
              "name": "zone_ids_bienici",
              "value": "-145996,-29339,-78150,-75588,-54517",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "bienici-http",
      "name": "Bienici - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.bienici.com/realEstateAds.json?filters=' + encodeURIComponent(JSON.stringify({ size: 24, from: 0, filterType: 'rent', propertyType: ['house','flat'], maxPrice: $('Config critères (défaut)').first().json.prix_max_cc, minRooms: $('Config critères (défaut)').first().json.pieces_min, maxRooms: $('Config critères (défaut)').first().json.pieces_max, minArea: $('Config critères (défaut)').first().json.surface_min_m2, maxArea: $('Config critères (défaut)').first().json.surface_max_m2, page: 1, sortBy: 'relevance', sortOrder: 'desc', onTheMarket: [true], mapMode: 'enabled', newProperty: false, blurInfoType: ['disk','exact'], zoneIdsByTypes: { zoneIds: ($('Config critères (défaut)').first().json.zone_ids_bienici || '-145996,-29339,-78150,-75588,-54517').split(',').map(z => z.trim()).filter(Boolean) } })) + '&extensionType=extendedIfNoResult&enableGoogleStructuredDataAggregates=true&leadingCount=2&id=69ac364ff3e55c00b4185c9f' }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "bienici-transform",
      "name": "Bienici - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst body = item.json.realEstateAds ?? item.json.body?.realEstateAds ?? item.json;\nconst ads = Array.isArray(body) ? body : (body.realEstateAds || []);\nreturn ads.map(ad => ({\n  json: {\n    source: 'bienici',\n    id_site: ad.id || '',\n    titre: ad.title || '',\n    description: (ad.description || '').replace(/<[^>]+>/g, ' ').trim().slice(0, 500),\n    ville: ad.city || ad.district?.name || '',\n    quartier: ad.district?.libelle || ad.district?.name || '',\n    adresse: '',\n    pieces: ad.roomsQuantity ?? null,\n    surface_m2: ad.surfaceArea ?? null,\n    loyer_cc: ad.price ?? null,\n    charges: ad.charges ?? null,\n    meuble: ad.isFurnished ?? null,\n    url: `https://www.bienici.com/annonce/location/${(ad.city || '').toLowerCase().replace(/\\s+/g, '-')}-${ad.postalCode || ''}/${ad.id || ''}`,\n    date_publication: ad.publicationDate || null\n  }\n}));"
      }
    },
    {
      "id": "trentecinq-http",
      "name": "Trente Cinq Notaires - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        224
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.trente-cinq-notaires.fr/recherche-annonces-immobilieres-notaires-bruz.html",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "trentecinq-transform",
      "name": "Trente Cinq Notaires - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        224
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.trente-cinq-notaires.fr';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst cardBlocks = html.split(/<div class=\"il-card-wrap\">/).slice(1);\nconst out = [];\nfor (const block of cardBlocks) {\n  if (!block.includes('il-card--LOCA') && !/il-card-transaction\">\\s*Location\\s*</.test(block)) continue;\n  const hrefMatch = block.match(/<a href=\"(\\/recherche-annonces-immobilieres-notaires-bruz\\/[^\"]+\\.html)\"\\s+class=\"reset-link\">/);\n  const path = hrefMatch ? hrefMatch[1] : '';\n  const url = path ? BASE + path : '';\n  const localeMatch = block.match(/il-card-locale\">([^<]+)</);\n  const locale = (localeMatch && localeMatch[1]) ? localeMatch[1].trim() : '';\n  const idx = locale.lastIndexOf(' - ');\n  const ville = (idx >= 0 ? locale.slice(0, idx) : locale).trim() || '';\n  const priceMatch = block.match(/Loyer\\s*:\\s*([\\d\\s,]+)/);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/[^\\d,]/g, '').replace(',', '.') : '';\n  const loyer_cc = loyerStr ? parseFloat(loyerStr) : null;\n  const refMatch = block.match(/Réf:\\s*([\\d\\-]+)/);\n  const id_site = (refMatch && refMatch[1]) ? refMatch[1].trim() : '';\n  const surfaceMatch = block.match(/Intérieur[\\s\\S]*?<strong>\\s*([\\d,\\.]+)\\s*m²/);\n  const surfaceStr = surfaceMatch ? surfaceMatch[1].replace(',', '.') : '';\n  const surface_m2 = surfaceStr ? parseFloat(surfaceStr) : null;\n  const piecesMatch = block.match(/<strong>(\\d+)<\\/strong>\\s*<span>Pièces/);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const typeMatch = block.match(/il-card-type\">([^<]+)</);\n  const typeBien = (typeMatch && typeMatch[1]) ? typeMatch[1].trim() : '';\n  let description = '';\n  const excerptMatch = block.match(/il-card-excerpt\">\\s*([\\s\\S]*?)<\\/p>/);\n  if (excerptMatch && excerptMatch[1]) {\n    description = excerptMatch[1].replace(/<small>[\\s\\S]*?<\\/small>/, '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500);\n  }\n  const titre = [typeBien, ville].filter(Boolean).join(' - ') || 'Annonce ' + id_site;\n  out.push({\n    json: {\n      source: 'trentecinq',\n      id_site,\n      titre,\n      description,\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "actionlogement-http",
      "name": "Action Logement - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        448
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.logement-actionlogement.fr/api/v1/demands/public/offers-overview?size=20&page=0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { municipalities: [{ code: '35238', postcode: '35000' }], searchRadiusInKm: 50, maxRent: $('Config critères (défaut)').first().json.prix_max_cc, typologyCodes: ['T2','T3'], productGuids: ['712f4424-7590-4912-8ed8-f192b26557f8'] } }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "actionlogement-transform",
      "name": "Action Logement - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        448
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE_URL = 'https://logement-actionlogement.fr/search/detail/';\nconst item = $input.first();\nconst body = item.json?.data ?? item.json;\nconst data = Array.isArray(body) ? body : (body?.data || []);\nconst typoToPieces = { 'T1': 1, 'T2': 2, 'T3': 3, 'T4': 4, 'T5': 5 };\nreturn data.map(o => {\n  const lodg = o.lodging || {};\n  const muni = lodg.municipality || {};\n  const typo = lodg.lodgingTypology || {};\n  const pieces = typoToPieces[typo.code] ?? null;\n  const desc = (lodg.description || o.description || '').replace(/\\s+/g, ' ').trim().slice(0, 500);\n  return {\n    json: {\n      source: 'actionlogement',\n      id_site: String(o.reference || o.id || ''),\n      titre: [typo.commercialLabel || typo.label, muni.name].filter(Boolean).join(' - ') || 'Annonce ' + (o.reference || o.id),\n      description: desc,\n      ville: muni.name || '',\n      quartier: (o.residency && o.residency.name) || '',\n      adresse: (o.residency && o.residency.name) || '',\n      pieces,\n      surface_m2: lodg.area ?? null,\n      loyer_cc: o.totalRentAmountBaseBound ?? null,\n      charges: o.estimatedExternalCharges ?? null,\n      meuble: null,\n      url: o.guid ? BASE_URL + o.guid : '',\n      date_publication: o.startDateOfPublication ?? null\n    }\n  };\n});"
      }
    },
    {
      "id": "giboire-http",
      "name": "Giboire - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        672
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const c = $('Config critères (défaut)').first().json; const minB = Math.max(0, (c.pieces_min || 2) - 1); const maxB = Math.max(0, (c.pieces_max || 3) - 1); let beds = ''; for (let i = minB; i <= maxB; i++) beds += '&nbBedrooms%5B%5D=' + i; return 'https://www.giboire.com/recherche-location/appartement_maison/?searchBy=default&address%5B%5D=35&priceMax=' + (c.prix_max_cc || 700) + '&livingSurfaceMin=' + (c.surface_min_m2 || 35) + '&livingSurfaceMax=' + (c.surface_max_m2 || 75) + beds + '&transactionType%5B%5D=Location&searchBy=default'; })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "giboire-transform",
      "name": "Giboire - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        672
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nlet html = item.json?.data ?? item.json?.body ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst out = [];\nconst articleRegex = /<article class=\"card card--list-mobile\"\\s+entityid=\"(\\d+)\"[^>]*>([\\s\\S]*?)<\\/article>/gi;\nlet m;\nwhile ((m = articleRegex.exec(html)) !== null) {\n  const id_site = (m[1] || '').trim();\n  const block = m[2] || '';\n  const hrefMatch = block.match(/<a href=\"(https?:\\/\\/[^\"]+)\"[^>]*class=\"card_title[^\"]*\"[^>]*>([^<]*)<\\/a>/i);\n  const url = (hrefMatch && hrefMatch[1]) ? hrefMatch[1].trim() : '';\n  const titre = (hrefMatch && hrefMatch[2]) ? hrefMatch[2].trim() : '';\n  const subtitleMatch = block.match(/<h3 class=\"card_subtitle\">([^<]+)<\\/h3>/);\n  const villeRaw = (subtitleMatch && subtitleMatch[1]) ? subtitleMatch[1].trim() : '';\n  const ville = villeRaw.replace(/\\s*\\(\\s*\\d+\\s*\\)\\s*$/, '').trim();\n  const priceMatch = block.match(/<h4 class=\"card_price\">\\s*([\\d\\s]+)\\s*€/);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/\\s/g, '') : '';\n  const loyer_cc = loyerStr ? parseInt(loyerStr, 10) : null;\n  const surfaceMatch = block.match(/card_info_item\">[^<]*[\\s\\S]*?(\\d+)\\s*m2/);\n  const surface_m2 = surfaceMatch ? parseInt(surfaceMatch[1], 10) : null;\n  const piecesMatch = block.match(/card_info_item\">[^<]*[\\s\\S]*?(\\d+)\\s*chambres/);\n  const piecesRaw = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const pieces = piecesRaw != null ? piecesRaw + 1 : null;\n  const refMatch = block.match(/ref\\.\\s*([\\d\\-]+)/i);\n  const ref = (refMatch && refMatch[1]) ? refMatch[1].trim() : id_site;\n  out.push({\n    json: {\n      source: 'giboire',\n      id_site: ref || id_site,\n      titre: titre || 'Annonce ' + (ref || id_site),\n      description: '',\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "afedim-http",
      "name": "Afedim - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        848
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.afedim.fr/fr/location/annonces/Appartement-Maison/Ille-et-Vilaine-France/' + ($('Config critères (défaut)').first().json.pieces_min || 2) + '-' + ($('Config critères (défaut)').first().json.pieces_max || 3) + '-pieces/surface-' + ($('Config critères (défaut)').first().json.surface_min_m2 || 35) + '-' + ($('Config critères (défaut)').first().json.surface_max_m2 || 75) + '-m2/budget-0-' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '-euros/rayon-0-km/disponible-False/options-NonMeuble/exclusPlafondRess-False/Resultats' }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "afedim-transform",
      "name": "Afedim - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        848
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.afedim.fr';\nfunction decodeHtml(str) {\n  if (!str || typeof str !== 'string') return '';\n  return str.replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(parseInt(n, 10)))\n    .replace(/&#x([0-9a-f]+);/gi, (_, n) => String.fromCharCode(parseInt(n, 16)));\n}\nconst item = $input.first();\nlet html = item.json?.data ?? item.json?.body ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst out = [];\nconst cardBlocks = html.split(/<li class=\"item\">/).slice(1);\nfor (const block of cardBlocks) {\n  const titleMatch = block.match(/<p[^>]*class=\"ei_productcard__title\"[^>]*>\\s*<a[^>]+href=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/i) || block.match(/<a[^>]+href=\"([^\"]*\\/Fiche)\"[^>]*>([\\s\\S]*?)<\\/a>/i);\n  const path = (titleMatch && titleMatch[1]) ? titleMatch[1].trim() : '';\n  const url = path ? (path.startsWith('http') ? path : BASE + path) : '';\n  let titre = (titleMatch && titleMatch[2]) ? titleMatch[2].replace(/\\s+/g, ' ').trim() : '';\n  titre = decodeHtml(titre);\n  const idMatch = url.match(/\\/(\\d+)\\/Fiche/);\n  const id_site = (idMatch && idMatch[1]) ? idMatch[1] : '';\n  const subtitleMatch = block.match(/<p class=\"ei_productcard__subtitle\">([^<]+)<\\/p>/);\n  const ville = (subtitleMatch && subtitleMatch[1]) ? decodeHtml(subtitleMatch[1].trim()) : '';\n  const priceMatch = block.match(/ei_blcdata_valtext[^>]*>([^<]+)</);\n  const loyerStr = priceMatch ? priceMatch[1].replace(/\\s/g, '').replace(',', '.') : '';\n  const loyer_cc = loyerStr ? parseFloat(loyerStr) : null;\n  const blockDecoded = decodeHtml(block);\n  let surface_m2 = null;\n  const surfaceNumMatch = blockDecoded.match(/([\\d,]+)\\s*m\\s*²/i) || blockDecoded.match(/([\\d,]+)\\s*m2/i) || block.match(/([\\d,]+)\\s*m²/i) || block.match(/([\\d,]+)\\s*m\\s*&#178;/i);\n  if (surfaceNumMatch) {\n    const surfaceStr = (surfaceNumMatch[1] || '').replace(',', '.');\n    surface_m2 = surfaceStr ? parseFloat(surfaceStr) : null;\n  }\n  const piecesMatch = block.match(/(\\d+)-pieces\\/\\d+\\/Fiche/) || block.match(/href=\"[^\"]*\\/(\\d+)-pieces\\//) || titre.match(/(\\d+)\\s*pièces/);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  out.push({\n    json: {\n      source: 'afedim',\n      id_site: id_site || ('afedim_' + (url || '').slice(-8)),\n      titre: titre || 'Annonce ' + id_site,\n      description: '',\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: 'non',\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nreturn out.filter(({ json }) => {\n  const id = json.id_site;\n  if (seen.has(id)) return false;\n  seen.add(id);\n  return true;\n});"
      }
    },
    {
      "id": "merge-branches",
      "name": "Fusion Bienici + TCN",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        208
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-2",
      "name": "Fusion + Action Logement",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        432
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-3",
      "name": "Fusion + Giboire",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        656
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-4",
      "name": "Fusion + Afedim",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        832
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "ouestfrance-http",
      "name": "Ouest France Immo - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1024
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.ouestfrance-immo.com/api/annonces/?url=%2Flouer%2Frennes-35-35000%2F&search_key=list-search&limit=24&pieces_min=' + $('Config critères (défaut)').first().json.pieces_min + '&prix_max=' + $('Config critères (défaut)').first().json.prix_max_cc + '&surface_min=' + $('Config critères (défaut)').first().json.surface_min_m2 + '&surface_max=' + $('Config critères (défaut)').first().json.surface_max_m2 + '&meuble=0&colocation=0&rayon=20&idslieu=15818&tra=L&typIds=214%2C216&classifIds=6201%2C6202&tri=date_desc' }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "ouestfrance-transform",
      "name": "Ouest France Immo - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1024
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.ouestfrance-immo.com';\nconst item = $input.first();\nconst data = item.json?.data ?? [];\nif (!Array.isArray(data)) return [];\nreturn data.map(a => ({\n  json: {\n    source: 'ouestfrance_immo',\n    id_site: String(a.id ?? ''),\n    titre: [a.typ_lib, a.cla_lib].filter(Boolean).join(' - ') || ('Annonce ' + (a.id ?? '')),\n    description: (a.texte || '').replace(/\\s+/g, ' ').trim().slice(0, 500),\n    ville: a.lieu_lib || '',\n    quartier: (a.quartier && a.quartier.libelle) || '',\n    adresse: a.adresse_geoloc || '',\n    pieces: a.nb_pieces ?? null,\n    surface_m2: a.surface ?? null,\n    loyer_cc: a.prix ?? null,\n    charges: a.charges ?? null,\n    meuble: a.meuble === true ? 'oui' : 'non',\n    url: (a.url && a.url.startsWith('http')) ? a.url : (a.url ? BASE + a.url : ''),\n    date_publication: a.date_creation || a.date_deb_aff || null\n  }\n}));"
      }
    },
    {
      "id": "merge-branches-5",
      "name": "Fusion + Ouest France Immo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1008
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "foncia-http",
      "name": "Foncia - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://fnc-api.prod.fonciatech.net/annonces/annonces/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Referer",
              "value": "https://fr.foncia.com/"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'location', filters: { localities: { slugs: ['rennes-35'], radiusKm: 20 }, typesBien: ['appartement','maison'], surface: { min: $('Config critères (défaut)').first().json.surface_min_m2, max: $('Config critères (défaut)').first().json.surface_max_m2 }, prix: { max: $('Config critères (défaut)').first().json.prix_max_cc }, nbPiece: { min: $('Config critères (défaut)').first().json.pieces_min, max: $('Config critères (défaut)').first().json.pieces_max } }, expandNearby: true, size: 24 }) }}"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "foncia-transform",
      "name": "Foncia - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://fr.foncia.com';\nconst item = $input.first();\nconst main = item.json?.annonces ?? [];\nconst nearby = item.json?.nearbyAnnonces?.annonces ?? [];\nconst all = [...main, ...nearby];\nconst seen = new Set();\nreturn all.filter(a => { const id = a.reference; if (seen.has(id)) return false; seen.add(id); return true; }).map(a => {\n  const loc = a.localisation || {};\n  const locality = loc.locality || {};\n  const ville = (locality.libelle || loc.ville || '').trim();\n  const surface = a.surface?.habitable ?? a.surface?.totale ?? a.surface?.carrez ?? null;\n  return {\n    json: {\n      source: 'foncia',\n      id_site: String(a.reference || ''),\n      titre: a.titles?.main || a.titles?.description || a.libelle || ('Annonce ' + (a.reference || '')),\n      description: (a.description || '').replace(/\\s+/g, ' ').trim().slice(0, 500),\n      ville: ville,\n      quartier: '',\n      adresse: '',\n      pieces: a.nbPiece ?? null,\n      surface_m2: surface,\n      loyer_cc: a.loyer ?? null,\n      charges: a.loyerAnnexe ?? null,\n      meuble: null,\n      url: (a.canonicalUrl && a.canonicalUrl.startsWith('http')) ? a.canonicalUrl : (a.canonicalUrl ? BASE + a.canonicalUrl : ''),\n      date_publication: a.datePublication ?? null\n    }\n  };\n});"
      }
    },
    {
      "id": "merge-branches-6",
      "name": "Fusion + Foncia",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1184
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "lafrancaise-http",
      "name": "La Française Immobilière - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1392
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.la-francaise-immobiliere.fr/location/?post_types=location&categorie%5B%5D=27&categorie%5B%5D=23&nb_chambres_min=' + Math.max(0, ($('Config critères (défaut)').first().json.pieces_min || 2) - 1) + '&nb_chambres_max=' + Math.max(0, ($('Config critères (défaut)').first().json.pieces_max || 3) - 1) + '&prix_min=0&prix_max=' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '&submitted=1&o=date-desc&action=load_search_results&wia_6_type=&searchOnMap=0&searchNeighbor=true&wia_1_reference=' }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "lafrancaise-transform",
      "name": "La Française Immobilière - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1392
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst out = [];\nconst articleRegex = /<article\\s+id=\"post-(\\d+)\"[^>]*>([\\s\\S]*?)<\\/article>/gi;\nlet m;\nwhile ((m = articleRegex.exec(html)) !== null) {\n  const id_site = (m[1] || '').trim();\n  const block = m[2] || '';\n  const hrefMatch = block.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+\\/location\\/[^\"]+)\"[^>]*(?:rel=\"bookmark\"|>)/i) || block.match(/href=\"(https?:\\/\\/[^\"]+\\/location\\/[^\"]+)\"/i);\n  const url = (hrefMatch && hrefMatch[1]) ? hrefMatch[1].trim() : '';\n  const titleMatch = block.match(/<h2[^>]*class=\"[^\"]*card-title[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h2>/i);\n  const titre = (titleMatch && titleMatch[1]) ? titleMatch[1].replace(/\\s+/g, ' ').trim() : '';\n  const cityMatch = block.match(/<p class=\"city[^\"]*\"[^>]*>[\\s\\S]*?<span>([^<]+)<\\/span>/i);\n  const cityRaw = (cityMatch && cityMatch[1]) ? cityMatch[1].trim() : '';\n  let ville = cityRaw;\n  let quartier = '';\n  if (cityRaw.indexOf(' / ') >= 0) { const p = cityRaw.split(' / '); ville = (p[0] || '').trim(); const q = (p[1] || '').match(/\\(([^)]+)\\)/); quartier = (q && q[1]) ? q[1].trim() : ''; }\n  const typeMatch = block.match(/<span class=\"type_bien\"[^>]*>[\\s\\S]*?T(\\d+)/i) || block.match(/>\\s*T(\\d+)\\s*</);\n  const pieces = typeMatch ? parseInt(typeMatch[1], 10) : null;\n  const surfaceMatch = block.match(/(\\d+)\\s*&nbsp;m²|(\\d+)\\s*m²/i);\n  const surface_m2 = surfaceMatch ? parseFloat(surfaceMatch[1] || surfaceMatch[2] || 0) : null;\n  const prixMatch = block.match(/<span class=\"prix\"[^>]*>([^<]+)<\\/span>/i);\n  const prixRaw = (prixMatch && prixMatch[1]) ? prixMatch[1].replace(/\\s/g, ' ').replace(/&nbsp;/gi, ' ').trim() : '';\n  const numMatch = prixRaw.match(/\\d+/);\n  const loyer_cc = numMatch ? parseInt(numMatch[0], 10) : null;\n  out.push({\n    json: {\n      source: 'la_francaise_immobiliere',\n      id_site: id_site || url.slice(-12),\n      titre: titre || 'Annonce ' + id_site,\n      description: '',\n      ville: ville,\n      quartier: quartier,\n      adresse: '',\n      pieces: pieces,\n      surface_m2: surface_m2,\n      loyer_cc: loyer_cc,\n      charges: null,\n      meuble: null,\n      url: url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "merge-branches-7",
      "name": "Fusion + La Française Immobilière",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1376
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "guenno-http",
      "name": "Guenno - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1568
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const c = $('Config critères (défaut)').first().json; const minP = c.pieces_min || 2; const maxP = c.pieces_max || 3; let rooms = ''; for (let i = minP; i <= maxP; i++) rooms += '&number_room%5B%5D=' + i; return 'https://www.guenno.com/biens/recherche?mandate_type=2&realty_type%5B%5D=1' + rooms + '&min_surface=' + (c.surface_min_m2 || '') + '&town=RENNES&price_max=' + (c.prix_max_cc || 700) + '&east=-1.353481131054688&west=-2.229640799023438&north=48.47728162287364&south=47.67813899953636'; })() }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "guenno-transform",
      "name": "Guenno - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1568
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.guenno.com';\nconst item = $input.first();\nconst results = item.json && item.json.results;\nconst data = (results && results.data) != null ? results.data : [];\nif (!Array.isArray(data)) return [];\nreturn data.map(a => {\n  const slugTown = (a.slug_town || (a.town && a.town.toLowerCase()) || '').trim();\n  const path = slugTown ? '/biens/location/appartement/' + slugTown + '/T' + (a.number_room || 2) + '/' + (a.id || '') : '';\n  const url = path ? BASE + path : '';\n  const ville = (a.town || '').trim();\n  return {\n    json: {\n      source: 'guenno',\n      id_site: String(a.id != null ? a.id : ''),\n      titre: [ville, (a.sector || '')].filter(Boolean).join(' / ') || ('Annonce ' + (a.id != null ? a.id : '')),\n      description: (a.description || '').replace(/\\s+/g, ' ').trim().slice(0, 500),\n      ville: ville,\n      quartier: (a.sector || '').trim(),\n      adresse: '',\n      pieces: a.number_room != null ? a.number_room : null,\n      surface_m2: a.surface != null ? a.surface : null,\n      loyer_cc: a.price != null ? (typeof a.price === 'number' ? a.price : parseFloat(a.price)) : null,\n      charges: a.provisions_feed != null ? (typeof a.provisions_feed === 'number' ? a.provisions_feed : parseFloat(a.provisions_feed)) : null,\n      meuble: null,\n      url: url,\n      date_publication: a.release_date || a.created_at_realty || null\n    }\n  };\n});"
      }
    },
    {
      "id": "merge-branches-8",
      "name": "Fusion + Guenno",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1552
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "lamotte-http",
      "name": "Lamotte - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1760
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { var c = $('Config critères (défaut)').first().json; var minP = c.pieces_min != null ? c.pieces_min : 2; var maxP = c.pieces_max != null ? c.pieces_max : 3; var pieces = ''; for (var i = minP; i <= maxP; i++) pieces += '&pieces%5B%5D=' + i; return 'https://www.lamotte.fr/annonces/?acquisition=Location&immobilier=Logement&type%5B%5D=Appartement&type%5B%5D=Maison&location%5Bdep%5D%5B%5D=35&price_min=&price_max=' + (c.prix_max_cc != null ? c.prix_max_cc : 700) + '&surface_min=' + (c.surface_min_m2 != null ? c.surface_min_m2 : 35) + '&surface_max=' + (c.surface_max_m2 != null ? c.surface_max_m2 : 75) + pieces; })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "lamotte-transform",
      "name": "Lamotte - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1760
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "var item = $input.first();\nvar j = item.json;\nvar html = '';\nif (typeof j.body === 'string' && j.body.length > 500) html = j.body;\nelse if (typeof j.data === 'string' && j.data.length > 500) html = j.data;\nelse if (typeof j === 'string') html = j;\nif (!html && typeof j === 'object') {\n  for (var key in j) { if (j.hasOwnProperty(key) && typeof j[key] === 'string' && j[key].length > 2000 && (j[key].indexOf('data-trk-produit') !== -1 || j[key].indexOf('bien__wrapper') !== -1 || j[key].indexOf('lamotte.fr') !== -1)) { html = j[key]; break; } }\n}\nif (!html || html.length < 500) return [];\nvar out = [];\nvar start = 0;\nvar needle1 = \"data-trk-produit='\";\nvar needle2 = 'data-trk-produit=\"';\nwhile (true) {\n  var idx1 = html.indexOf(needle1, start);\n  var idx2 = html.indexOf(needle2, start);\n  var idx = -1;\n  var useSingle = true;\n  if (idx1 !== -1 && (idx2 === -1 || idx1 < idx2)) { idx = idx1; useSingle = true; }\n  else if (idx2 !== -1) { idx = idx2; useSingle = false; }\n  if (idx === -1) break;\n  var needle = useSingle ? needle1 : needle2;\n  start = idx + needle.length;\n  var jsonStr = '';\n  var pos = start;\n  if (useSingle) {\n    while (pos < html.length && html[pos] !== \"'\") { jsonStr += html[pos]; pos++; }\n  } else {\n    while (pos < html.length) {\n      if (html.substring(pos, pos + 6) === '&quot;') { jsonStr += '\"'; pos += 6; }\n      else if (html[pos] === '\"') break;\n      else { jsonStr += html[pos]; pos++; }\n    }\n  }\n  var data = null;\n  try { data = JSON.parse(jsonStr); } catch (e) { start = pos; continue; }\n  var rest = html.substring(pos, pos + 8000);\n  var hrefMatch = rest.match(/href=\"(https?:\\/\\/www\\.lamotte\\.fr\\/annonces\\/[^\"]+)\"/);\n  var url = (hrefMatch && hrefMatch[1]) ? hrefMatch[1] : '';\n  var titleMatch = rest.match(/programme__title\"[^>]*>\\s*<i[^>]*><\\/i>([^<]+)</);\n  var titre = (titleMatch && titleMatch[1]) ? titleMatch[1].replace(/\\s+/g, ' ').trim() : (data && data.produitNom ? data.produitNom.replace(/-/g, ' ') : 'Annonce ' + (data && data.produitId ? data.produitId : ''));\n  var villeSlug = (data && data.produitLocalisationVille) ? data.produitLocalisationVille : '';\n  var ville = villeSlug ? villeSlug.charAt(0).toUpperCase() + villeSlug.slice(1).replace(/-/g, ' ') : '';\n  var quartier = '';\n  if (titre.indexOf(' - ') !== -1) { var parts = titre.split(' - '); quartier = parts.length > 1 ? parts[1].trim() : ''; }\n  var prixStr = (data && data.produitPrix) ? String(data.produitPrix).replace(/[^0-9,.]/g, '').replace(',', '.') : '';\n  var loyer = prixStr ? parseFloat(prixStr) : null;\n  var pieces = (data && data.produitNombrePiece) != null ? (typeof data.produitNombrePiece === 'number' ? data.produitNombrePiece : parseInt(data.produitNombrePiece, 10)) : null;\n  var surface = (data && data.produitSuperficie) != null ? (typeof data.produitSuperficie === 'number' ? data.produitSuperficie : parseInt(data.produitSuperficie, 10)) : null;\n  out.push({\n    json: {\n      source: 'lamotte',\n      id_site: (data && data.produitId) != null ? String(data.produitId) : '',\n      titre: titre,\n      description: '',\n      ville: ville,\n      quartier: quartier,\n      adresse: '',\n      pieces: isNaN(pieces) ? null : pieces,\n      surface_m2: isNaN(surface) ? null : surface,\n      loyer_cc: (loyer != null && !isNaN(loyer)) ? loyer : null,\n      charges: null,\n      meuble: null,\n      url: url,\n      date_publication: null\n    }\n  });\n  start = pos;\n}\nreturn out;"
      }
    },
    {
      "id": "merge-branches-9",
      "name": "Fusion + Lamotte",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1744
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "kermarrec-http",
      "name": "Kermarrec - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1968
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { var c = $('Config critères (défaut)').first().json; var minP = c.pieces_min != null ? c.pieces_min : 2; var maxP = c.pieces_max != null ? c.pieces_max : 3; var pieces = ''; for (var i = minP; i <= maxP; i++) pieces += '&nb_pieces%5B%5D=' + i; return 'https://www.kermarrec-habitation.fr/location/?post_type=location&false-select=on&ville%5B%5D=rennes-35000&typebien%5B%5D=appartement&typebien%5B%5D=maison' + pieces + '&budget_max=' + (c.prix_max_cc != null ? c.prix_max_cc : 700) + '&reference=&rayon=20&avec_carte=false&tri=pertinence'; })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "kermarrec-transform",
      "name": "Kermarrec - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1968
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "var item = $input.first();\nvar j = item.json;\nvar html = '';\nif (typeof j.body === 'string' && j.body.length > 500) html = j.body;\nelse if (typeof j.data === 'string' && j.data.length > 500) html = j.data;\nelse if (typeof j === 'string') html = j;\nif (!html && typeof j === 'object') { for (var key in j) { if (j.hasOwnProperty(key) && typeof j[key] === 'string' && j[key].length > 2000 && (j[key].indexOf('list-bien') !== -1 || j[key].indexOf('card-bien') !== -1 || j[key].indexOf('kermarrec-habitation') !== -1)) { html = j[key]; break; } } }\nif (!html || html.length < 500) return [];\nvar out = [];\nvar re = /<article[^>]*class=\"[^\"]*list-bien[^\"]*\"[^>]*>([\\s\\S]*?)<\\/article>/gi;\nvar block;\nwhile ((block = re.exec(html)) !== null) {\n  var b = block[1] || '';\n  var hrefM = b.match(/href=\"(https?:\\/\\/www\\.kermarrec-habitation\\.fr\\/location\\/[^\"]+)\"/);\n  var url = (hrefM && hrefM[1]) ? hrefM[1] : '';\n  var idMatch = url.match(/bien-(\\d+)/);\n  var id_site = (idMatch && idMatch[1]) ? idMatch[1] : '';\n  var priceM = b.match(/<span class=\"entry-price\"[^>]*>([\\s\\S]*?)<\\/span>/);\n  var prixRaw = (priceM && priceM[1]) ? priceM[1].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').replace(/&nbsp;/g, ' ').trim() : '';\n  var numM = prixRaw.match(/\\d+/);\n  var loyer = numM ? parseInt(numM[0], 10) : null;\n  var villeM = b.match(/<span class=\"entry-ville\"[^>]*>(?:<[^>]+>)*([^<]+)<\\/span>/);\n  var villeStr = (villeM && villeM[1]) ? villeM[1].trim() : '';\n  var ville = villeStr;\n  var quartier = '';\n  if (villeStr.indexOf(' ') !== -1) { var parts = villeStr.split(' '); ville = parts[0] || villeStr; quartier = parts.slice(1).join(' ').trim(); }\n  var piecesM = b.match(/<span class=\"entry-pieces\"[^>]*>[\\s\\S]*?(\\d+)\\s*pièces/);\n  var pieces = (piecesM && piecesM[1]) ? parseInt(piecesM[1], 10) : null;\n  var surfaceM = b.match(/<span class=\"entry-surface\"[^>]*>[\\s\\S]*?(\\d+)\\s*m²/);\n  var surface = (surfaceM && surfaceM[1]) ? parseInt(surfaceM[1], 10) : null;\n  var bienM = b.match(/<span class=\"entry-bien\"[^>]*>([^<]+)<\\/span>/);\n  var typeBien = (bienM && bienM[1]) ? bienM[1].trim() : 'Bien';\n  var titre = typeBien + (villeStr ? ' - ' + villeStr : '');\n  out.push({\n    json: {\n      source: 'kermarrec',\n      id_site: id_site,\n      titre: titre,\n      description: '',\n      ville: ville,\n      quartier: quartier,\n      adresse: '',\n      pieces: pieces,\n      surface_m2: surface,\n      loyer_cc: loyer,\n      charges: null,\n      meuble: null,\n      url: url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "merge-branches-10",
      "name": "Fusion + Kermarrec",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        1952
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "nestenn-http",
      "name": "Nestenn - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2160
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { var c = $('Config critères (défaut)').first().json; var pieces = c.pieces_min != null ? c.pieces_min : 2; return 'https://nestenn.com/listing?sort=&typeTransaction=louer&type_bien=Maison,Appartement&villes=35%20Ille-et-Vilaine%20(D%C3%A9partement)&prix_min=&prix_max=' + (c.prix_max_cc != null ? c.prix_max_cc : 700) + '&surface_min=' + (c.surface_min_m2 != null ? c.surface_min_m2 : 35) + '&chambres=&pieces=' + pieces + '&ref=&dpe='; })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "nestenn-transform",
      "name": "Nestenn - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "var item = $input.first();\nvar j = item.json;\nvar html = '';\nif (typeof j.body === 'string' && j.body.length > 500) html = j.body;\nelse if (typeof j.data === 'string' && j.data.length > 500) html = j.data;\nelse if (typeof j === 'string') html = j;\nif (!html && typeof j === 'object') { for (var key in j) { if (j.hasOwnProperty(key) && typeof j[key] === 'string' && j[key].length > 2000 && (j[key].indexOf('bien_item') !== -1 || j[key].indexOf('listing_bien') !== -1 || j[key].indexOf('nestenn.com') !== -1)) { html = j[key]; break; } } }\nif (!html || html.length < 500) return [];\nvar BASE = 'https://nestenn.com/listing';\nvar out = [];\nvar re = /<div class=\"bien_item[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>\\s*<\\/div>\\s*<\\/div>/gi;\nvar blocks = html.split(/<div class=\"bien_item\\s/);\nfor (var i = 1; i < blocks.length; i++) {\n  var b = blocks[i];\n  var hrefM = b.match(/<a href=\"([^\"?][^\"]*)\"[^>]*title=/);\n  var href = (hrefM && hrefM[1]) ? hrefM[1].trim() : '';\n  var url = href ? (href.indexOf('http') === 0 ? href : BASE + (href.indexOf('/') === 0 ? '' : '/') + href) : '';\n  var idM = href.match(/ref-(\\d+)/);\n  var id_site = (idM && idM[1]) ? idM[1] : '';\n  var villeM = b.match(/<p class=\"fs_0-8rem[^\"]*\"[^>]*>\\s*([^<]+)</);\n  var villeStr = (villeM && villeM[1]) ? villeM[1].replace(/\\s+/g, ' ').trim() : '';\n  var ville = villeStr.replace(/^\\d{5}\\s*/, '').trim() || villeStr;\n  var typeM = b.match(/<h3 class=\"bold blue_color[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h3>/);\n  var typeStr = (typeM && typeM[1]) ? typeM[1].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim() : '';\n  var titre = (typeStr && ville) ? typeStr + ' - ' + ville : (typeStr || ville || 'Annonce ' + id_site);\n  var surfaceM = b.match(/(\\d+)\\s*m²/);\n  var surface = (surfaceM && surfaceM[1]) ? parseInt(surfaceM[1], 10) : null;\n  var piecesM = b.match(/(\\d+)\\s*pièces/);\n  var pieces = (piecesM && piecesM[1]) ? parseInt(piecesM[1], 10) : null;\n  var priceM = b.match(/<p class=\"[^\"]*price\"[^>]*>([\\s\\S]*?)<\\/p>/);\n  var prixRaw = (priceM && priceM[1]) ? priceM[1].replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim() : '';\n  var numM = prixRaw.match(/\\d+/);\n  var loyer = (numM && numM[0]) ? parseInt(numM[0], 10) : null;\n  out.push({\n    json: {\n      source: 'nestenn',\n      id_site: id_site,\n      titre: titre,\n      description: '',\n      ville: ville,\n      quartier: '',\n      adresse: '',\n      pieces: pieces,\n      surface_m2: surface,\n      loyer_cc: loyer,\n      charges: null,\n      meuble: null,\n      url: url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "merge-branches-11",
      "name": "Fusion + Nestenn",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        2144
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "squarehabitat-http",
      "name": "Square Habitat - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2368
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.ca-immobilier.fr/arts/bien/v2/api/fo/bien",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { var c = $('Config critères (défaut)').first().json; var minP = c.pieces_min != null ? c.pieces_min : 2; var maxP = c.pieces_max != null ? c.pieces_max : 3; var codes = []; for (var i = minP; i <= maxP; i++) codes.push(i + 'PIECES'); return JSON.stringify({ localisations: { codesCommunes: ['35238'] }, codesTypesBiens: ['4','5'], isLocation: true, nbKilometresRecherche: 20, codesNbPieces: codes, budgetMax: c.prix_max_cc != null ? c.prix_max_cc : 700, surfaceMin: c.surface_min_m2 != null ? c.surface_min_m2 : 35, surfaceMax: c.surface_max_m2 != null ? c.surface_max_m2 : 75, pagination: { itemsPerPage: 18, currentPage: 1 } }); })() }}"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "squarehabitat-transform",
      "name": "Square Habitat - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2368
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "var BASE = 'https://www.squarehabitat.fr/square-habitat-bretagne/annonces/biens/location/';\nfunction villeSlug(ville) {\n  if (!ville || typeof ville !== 'string') return '';\n  var s = ville.toLowerCase().trim().replace(/\\s+s\\/\\s+/gi, '-sur-').replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '');\n  return s;\n}\nvar item = $input.first();\nvar biens = (item.json && item.json.biens) != null ? item.json.biens : [];\nif (!Array.isArray(biens)) return [];\nvar out = [];\nfor (var i = 0; i < biens.length; i++) {\n  var b = biens[i];\n  var codeRef = (b.codeRef != null) ? String(b.codeRef) : '';\n  var typeBien = (b.typeBien != null) ? String(b.typeBien).toLowerCase() : 'appartement';\n  var ville = (b.ville != null) ? String(b.ville).trim() : '';\n  var slug = villeSlug(ville);\n  var path = typeBien + '/' + slug + '/' + codeRef;\n  var url = (slug && codeRef) ? BASE + path : '';\n  var desc = (b.texteAnnonce != null) ? String(b.texteAnnonce).replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500) : '';\n  var titre = [typeBien.charAt(0).toUpperCase() + typeBien.slice(1), ville].filter(Boolean).join(' - ') || ('Annonce ' + codeRef);\n  out.push({\n    json: {\n      source: 'square_habitat',\n      id_site: codeRef,\n      titre: titre,\n      description: desc,\n      ville: ville,\n      quartier: '',\n      adresse: '',\n      pieces: (b.nbPieces != null) ? (typeof b.nbPieces === 'number' ? b.nbPieces : parseInt(b.nbPieces, 10)) : null,\n      surface_m2: (b.surfaceHabitable != null) ? (typeof b.surfaceHabitable === 'number' ? b.surfaceHabitable : parseFloat(b.surfaceHabitable)) : null,\n      loyer_cc: (b.prix != null) ? (typeof b.prix === 'number' ? b.prix : parseFloat(b.prix)) : null,\n      charges: null,\n      meuble: null,\n      url: url,\n      date_publication: (b.dateCreation != null) ? b.dateCreation : null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "merge-branches-12",
      "name": "Fusion + Square Habitat",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        2352
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "caimmo-http",
      "name": "CA Immobilier - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2576
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.ca-immobilier.fr/louer/recherche/resultat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            {
              "name": "Referer",
              "value": "https://www.ca-immobilier.fr/louer/recherche"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "0"
            },
            {
              "name": "minarea",
              "value": "={{ $('Config critères (défaut)').first().json.surface_min_m2 || 35 }}"
            },
            {
              "name": "maxarea",
              "value": "={{ $('Config critères (défaut)').first().json.surface_max_m2 || 75 }}"
            },
            {
              "name": "maxprice",
              "value": "={{ $('Config critères (défaut)').first().json.prix_max_cc || 700 }}"
            },
            {
              "name": "sortby",
              "value": "price_asc"
            },
            {
              "name": "codes[]",
              "value": "35000:rennes:35238"
            },
            {
              "name": "sections[]",
              "value": "location"
            },
            {
              "name": "types[]",
              "value": "appartment"
            },
            {
              "name": "zones[]",
              "value": "2"
            },
            {
              "name": "zones[]",
              "value": "3"
            },
            {
              "name": "distance",
              "value": "30"
            },
            {
              "name": "displayMode",
              "value": "mosaic"
            },
            {
              "name": "size",
              "value": "20"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "caimmo-transform",
      "name": "CA Immobilier - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2576
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.ca-immobilier.fr';\nconst item = $input.first();\nconst hitsRoot = item.json && item.json.hits;\nconst hits = hitsRoot && Array.isArray(hitsRoot.hits) ? hitsRoot.hits : [];\nif (!Array.isArray(hits) || hits.length === 0) return [];\nreturn hits.map(h => {\n  const id = h.reference != null ? String(h.reference) : (h.id != null ? String(h.id) : '');\n  const ville = (h.city || '').trim();\n  const typeBien = (h.kind || '').trim() || 'appartement';\n  const surface = h.characteristic_area != null ? Number(h.characteristic_area) : null;\n  const pieces = h.characteristic_number_part != null ? Number(h.characteristic_number_part) : null;\n  const loyerCc = h.characteristic_price != null ? Number(h.characteristic_price) : null;\n  const loyerHt = h.rent_rent_ht != null ? Number(h.rent_rent_ht) : null;\n  let charges = null;\n  if (!Number.isNaN(loyerCc) && !Number.isNaN(loyerHt) && loyerCc != null && loyerHt != null) {\n    charges = loyerCc - loyerHt;\n  }\n  const baseOrigin = (h.base_origin || '').trim() || 'C3A';\n  const ref = h.reference != null ? String(h.reference) : '';\n  const url = (baseOrigin && ref) ? `${BASE}/biens/location/${baseOrigin}/${ref}` : '';\n  const titre = (h.name && String(h.name).trim()) || `${typeBien} - ${ville}` || `Annonce ${id}`;\n  return {\n    json: {\n      source: 'ca_immobilier',\n      id_site: id,\n      titre,\n      description: '',\n      ville,\n      quartier: (h.Program && h.Program.name) ? String(h.Program.name).trim() : '',\n      adresse: '',\n      pieces: Number.isNaN(pieces) ? null : pieces,\n      surface_m2: Number.isNaN(surface) ? null : surface,\n      loyer_cc: Number.isNaN(loyerCc) ? null : loyerCc,\n      charges: Number.isNaN(charges) ? null : charges,\n      meuble: null,\n      url,\n      date_publication: h.rent_free_date || null\n    }\n  };\n});"
      }
    },
    {
      "id": "merge-branches-13",
      "name": "Fusion + CA Immobilier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        2544
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "cogir-http",
      "name": "Cogir Immobilier - Récup annonces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2784
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.cogir.fr/fr/data_listing_formrecherche.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "loc",
              "value": "location"
            },
            {
              "name": "type[]",
              "value": "maison"
            },
            {
              "name": "type[]",
              "value": "appartement"
            },
            {
              "name": "surfacemin",
              "value": "={{ $('Config critères (défaut)').first().json.surface_min_m2 || 35 }}"
            },
            {
              "name": "prixmax",
              "value": "={{ $('Config critères (défaut)').first().json.prix_max_cc || 700 }}"
            },
            {
              "name": "tri",
              "value": "prix-asc"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "coordonnees",
              "value": ""
            },
            {
              "name": "supplementaires",
              "value": ""
            },
            {
              "name": "prixmin",
              "value": ""
            },
            {
              "name": "piece[]",
              "value": "2"
            },
            {
              "name": "piece[]",
              "value": "3"
            },
            {
              "name": "surfacemax",
              "value": "={{ $('Config critères (défaut)').first().json.surface_max_m2 || '' }}"
            },
            {
              "name": "terrain",
              "value": ""
            },
            {
              "name": "numero",
              "value": ""
            },
            {
              "name": "idpers",
              "value": ""
            },
            {
              "name": "options",
              "value": ""
            },
            {
              "name": "telhab",
              "value": ""
            },
            {
              "name": "piecemin",
              "value": ""
            },
            {
              "name": "route",
              "value": "listing"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cogir-transform",
      "name": "Cogir Immobilier - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2784
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.cogir.fr';\nconst item = $input.first();\nconst body = (item.json && item.json.data) ? item.json.data : item.json;\nconst annonces =\n  (body && body.annonces && body.annonces.data) ||\n  (body && body.resultats && body.resultats.data) ||\n  [];\n\nif (!Array.isArray(annonces) || annonces.length === 0) {\n  return [];\n}\n\nfunction stripHtml(html) {\n  if (!html || typeof html !== 'string') return '';\n  return html\n    .replace(/<br\\s*\\/?/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 500);\n}\n\nreturn annonces.map(function (a) {\n  var id_site = a.numero || String(a.idhabit || '');\n  var ville = (a.ville || '').toUpperCase();\n  var url = '';\n\n  if (a.idhabit) {\n    url = BASE + '/fr/appartement-location-rennes-35-' + a.idhabit + '.html';\n  }\n\n  return {\n    json: {\n      source: 'cogir',\n      id_site: id_site,\n      titre: a.titre || ('Annonce ' + id_site),\n      description: stripHtml(a.descriptif),\n      ville: ville,\n      quartier: a.quartier || '',\n      adresse: a.adresse_bien || '',\n      pieces: a.piece != null ? a.piece : null,\n      surface_m2: a.surface != null ? a.surface : null,\n      loyer_cc: a.prix != null ? a.prix : null,\n      charges: a.charges != null ? a.charges : null,\n      meuble: null,\n      url: url,\n      date_publication: a.date1 || null\n    }\n  };\n});"
      }
    },
    {
      "id": "merge-branches-14",
      "name": "Fusion + Cogir Immobilier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        2768
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "neotoa-http",
      "name": "Neotoa - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        3008
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.neotoa.fr/recherche/?projet=louer&typeBien%5B%5D=PAV&typeBien%5B%5D=APP&nombrePieces%5B%5D=T2&nombrePieces%5B%5D=T3&budget=' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "neotoa-transform",
      "name": "Neotoa - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3008
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.neotoa.fr';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') {\n  return [];\n}\n// On travaille directement sur tout le HTML\nconst parts = html.split(/<div class=\"card__wrapper[^\"]*card__wrapper--bien[^\"]*\"[^>]*>/i).slice(1);\nfunction stripHtml(s) {\n  if (!s || typeof s !== 'string') return '';\n  return s.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500);\n}\nconst out = [];\nfor (const c of parts) {\n  const aMatch = c.match(/<a\\s+href=\"([^\"]+)\"\\s+class=\"card card--bien\">/i);\n  if (!aMatch) continue;\n  const href = aMatch[1].trim();\n  const url = href.startsWith('http') ? href : BASE + href;\n  const titleMatch = c.match(/<h2 class=\"card__title\">([\\s\\S]*?)<\\/h2>/i);\n  const rawTitle = titleMatch ? stripHtml(titleMatch[1]) : '';\n  const cityMatch = c.match(/<p class=\"card__city\">([\\s\\S]*?)<\\/p>/i);\n  const rawCity = cityMatch ? stripHtml(cityMatch[1]) : '';\n  let ville = rawCity.replace(/\\(\\d+\\)\\s*$/, '').trim();\n  let quartier = '';\n  const priceMatch = c.match(/<p class=\"card__price\">([\\s\\S]*?)<\\/p>/i);\n  let loyer_cc = null;\n  if (priceMatch) {\n    const num = priceMatch[1].replace(/[^\\d]/g, '');\n    if (num) loyer_cc = parseInt(num, 10);\n  }\n  const roomsMatch = c.match(/<p class=\"card__rooms\">([\\s\\S]*?)<\\/p>/i);\n  let pieces = null;\n  if (roomsMatch) {\n    const num = roomsMatch[1].replace(/[^\\d]/g, '');\n    if (num) pieces = parseInt(num, 10);\n  }\n  const areaMatch = c.match(/<p class=\"card__area\">([\\s\\S]*?)<\\/p>/i);\n  let surface_m2 = null;\n  if (areaMatch) {\n    const num = areaMatch[1].replace(/[^\\d,\\.]/g, '').replace(',', '.');\n    if (num) surface_m2 = parseFloat(num);\n  }\n  let id_site = '';\n  const idMatch = url.match(/\\/([^\\/]+)\\/?$/);\n  if (idMatch) id_site = idMatch[1];\n  const titre = rawTitle || `Annonce ${id_site}`;\n  out.push({\n    json: {\n      source: 'neotoa',\n      id_site,\n      titre,\n      description: '',\n      ville,\n      quartier,\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\n// Dédoublonnage par id_site\nconst seen = new Set();\nconst uniques = out.filter(item => {\n  const id = item.json.id_site || '';\n  if (seen.has(id)) return false;\n  seen.add(id);\n  return true;\n});\nreturn uniques;"
      }
    },
    {
      "id": "cdchabitat-http",
      "name": "CDC Habitat - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        3232
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.cdc-habitat.fr/recherche/location/bretagne/ille-et-vilaine?nbLoyerMax=' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '&nbPiece[]=2&nbPiece[]=3&cdTypeBien[]=Appartement&cdTypeBien[]=Maison' }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "cdchabitat-transform",
      "name": "CDC Habitat - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3232
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.cdc-habitat.fr';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') {\n  return [];\n}\nconst listMatch = html.match(/<div class=\"resultsList\" id=\"listeResultats\">([\\s\\S]*?)<div class=\"mobile-only\">/i);\nconst block = listMatch ? listMatch[1] : html;\nconst parts = block.split(/<article class=\"residenceCard\">/i).slice(1);\nfunction stripHtml(s) {\n  if (!s || typeof s !== 'string') return '';\n  return s.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500);\n}\nconst out = [];\nfor (const c of parts) {\n  const hrefMatch = c.match(/<a href=\"([^\"]+)\"[^>]*>\\s*<h3 class=\"h4\">/i);\n  if (!hrefMatch) continue;\n  const href = hrefMatch[1].trim();\n  const url = href.startsWith('http') ? href : BASE + href;\n  let id_site = '';\n  const idMatch = url.match(/\\/(\\d+)(?:\\/)?$/);\n  if (idMatch) id_site = idMatch[1];\n  const typeMatch = c.match(/<div class=\"type small\">([^<]+)<\\/div>/i);\n  const typeStr = typeMatch ? stripHtml(typeMatch[1]) : '';\n  const h3Match = c.match(/<h3 class=\"h4\">([\\s\\S]*?)<\\/h3>/i);\n  const h3Text = h3Match ? stripHtml(h3Match[1]) : '';\n  let pieces = null;\n  const piecesMatch = h3Text.match(/(\\d+)\\s+pièces?/i);\n  if (piecesMatch) pieces = parseInt(piecesMatch[1], 10);\n  let surface_m2 = null;\n  const surfMatch = h3Text.match(/(\\d+[\\.,]?\\d*)\\s*m²/i);\n  if (surfMatch) surface_m2 = parseFloat(surfMatch[1].replace(',', '.'));\n  const locMatch = c.match(/<div class=\"location small\">([\\s\\S]*?)<\\/div>/i);\n  let ville = '';\n  if (locMatch) {\n    const locText = stripHtml(locMatch[1]);\n    ville = locText.replace(/\\(\\d+\\)\\s*$/, '').trim();\n  }\n  let loyer_cc = null;\n  const priceMatch = c.match(/<div class=\"price\">([\\s\\S]*?)<\\/div>/i);\n  if (priceMatch) {\n    const num = priceMatch[1].replace(/[^0-9,\\.]/g, '').replace(',', '.');\n    if (num) loyer_cc = parseFloat(num);\n  }\n  const notesMatch = c.match(/<div class=\"notes small\">([\\s\\S]*?)<\\/div>/i);\n  const notes = notesMatch ? stripHtml(notesMatch[1]) : '';\n  const titre = ((typeStr ? typeStr + ' ' : '') + h3Text).trim() || `Annonce ${id_site}`;\n  out.push({\n    json: {\n      source: 'cdc_habitat',\n      id_site,\n      titre,\n      description: notes,\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nconst uniques = out.filter(item => {\n  const id = item.json.id_site || '';\n  if (seen.has(id)) return false;\n  seen.add(id);\n  return true;\n});\nreturn uniques;"
      }
    },
    {
      "id": "merge-branches-16",
      "name": "Fusion + CDC Habitat",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        3216
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "oqoro-http",
      "name": "Oqoro - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        3456
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.oqoro.com/recherche?bbox=48.59123995022556%2C-2.2538504632400618%2C47.66379024691885%2C-1.1124783922239287&query=&city=&filters%5Bsingle_lot%5D%5B%5D=location&filters%5Bfurnished%5D%5B%5D=false&filters%5Bloyer%5D%5Bfrom%5D=&filters%5Bloyer%5D%5Bto%5D=' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '&filters%5Btype%5D%5B%5D=t2&filters%5Btype%5D%5B%5D=t3&filters%5Barea%5D%5Bfrom%5D=' + ($('Config critères (défaut)').first().json.surface_min_m2 || 35) + '&filters%5Barea%5D%5Bto%5D=' + ($('Config critères (défaut)').first().json.surface_max_m2 || 75) + '&filters%5Brooms%5D=0&filters%5Bpromotion%5D=0' }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "oqoro-transform",
      "name": "Oqoro - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3456
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.oqoro.com';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') {\n  return [];\n}\nconst lotsMatch = html.match(/id=\"data-lots\"[^>]+data-lots=\"([^\"]+)\"/i);\nif (!lotsMatch) {\n  return [];\n}\nlet rawJson = lotsMatch[1];\nrawJson = rawJson.replace(/&quot;/g, '\"');\nlet lots;\ntry {\n  lots = JSON.parse(rawJson);\n} catch (e) {\n  return [];\n}\nif (!Array.isArray(lots) || lots.length === 0) {\n  return [];\n}\nconst out = [];\nfor (const lot of lots) {\n  const id_site = lot.public_uid || String(lot.lot_id || lot.model_id || '');\n  const slug = lot.slug || '';\n  const url = slug ? (slug.startsWith('http') ? slug : BASE + slug) : '';\n  const ville = lot.city || '';\n  const surface_m2 = lot.property_area != null ? parseFloat(String(lot.property_area).replace(',', '.')) : null;\n  const loyer_cc = lot.loyer_cc != null ? Number(lot.loyer_cc) : null;\n  let pieces = null;\n  if (typeof lot.property_type === 'string' && /^t(\\d+)/i.test(lot.property_type)) {\n    pieces = parseInt(RegExp.$1, 10);\n  } else if (typeof lot.nb_bedrooms === 'number') {\n    pieces = lot.nb_bedrooms + 1;\n  }\n  const equipments = Array.isArray(lot.equipments) ? lot.equipments : [];\n  const extras = Array.isArray(lot.additional_spaces) ? lot.additional_spaces : [];\n  const descParts = [];\n  if (equipments.length) descParts.push('Équipements: ' + equipments.join(', '));\n  if (extras.length) descParts.push('Espaces: ' + extras.join(', '));\n  const description = descParts.join(' | ');\n  let typeLabel = 'Appartement';\n  if (typeof lot.property_type === 'string') {\n    const lower = lot.property_type.toLowerCase();\n    if (lower.startsWith('t2')) typeLabel = 'Appartement T2';\n    else if (lower.startsWith('t3')) typeLabel = 'Appartement T3';\n  }\n  const titre = `${typeLabel} - location nue`.trim();\n  out.push({\n    json: {\n      source: 'oqoro',\n      id_site,\n      titre,\n      description,\n      ville,\n      quartier: '',\n      adresse: lot.address_street || '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: lot.is_furnished === true ? 'oui' : 'non',\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nconst uniques = out.filter(item => {\n  const id = item.json.id_site || '';\n  if (seen.has(id)) return false;\n  seen.add(id);\n  return true;\n});\nreturn uniques;"
      }
    },
    {
      "id": "century21-http",
      "name": "Century 21 - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        3680
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.century21.fr/annonces/f/location-maison-appartement/d-35_ille_et_vilaine/s-' + ($('Config critères (défaut)').first().json.surface_min_m2 || 35) + '-' + ($('Config critères (défaut)').first().json.surface_max_m2 || 75) + '/st-0-/b-0-' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '/p-' + ($('Config critères (défaut)').first().json.pieces_min || 2) + '-' + ($('Config critères (défaut)').first().json.pieces_max || 3) + '/' }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "century21-transform",
      "name": "Century 21 - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3680
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.century21.fr';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nconst blocks = html.split(/<div class=\"tw-grid js-the-list-of-properties-list-property/).slice(1);\nconst out = [];\nfor (const block of blocks) {\n  const blockNorm = block.replace(/&nbsp;/g, ' ').replace(/&#8364;|&#x20AC;/gi, '\u20AC');\n  const uidMatch = block.match(/data-uid=\"(\\d+)\"/);\n  const id_site = uidMatch ? uidMatch[1] : '';\n  if (!id_site) continue;\n  const url = BASE + '/trouver_logement/detail/' + id_site + '/';\n  const heading4Match = blockNorm.match(/c-text-theme-heading-4[^>]*>([\\s\\S]*?)<br/i);\n  let ville = '';\n  if (heading4Match) {\n    const raw = heading4Match[1].replace(/<[^>]+>/g, ' ').trim();\n    ville = raw.replace(/\\s+\\d{2,5}\\s*$/, '').trim();\n  }\n  const surfaceMatch = blockNorm.match(/(\\d+(?:,\\d+)?)\\s*m\\s*(?:²|<sup>2<\\/sup>)/i);\n  const surface_m2 = surfaceMatch ? parseFloat(surfaceMatch[1].replace(',', '.')) : null;\n  const piecesMatch = blockNorm.match(/(\\d+)\\s*pièces?/i);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const priceMatch = blockNorm.match(/(\\d+)\\s*(?:&nbsp;)?(?:€|&euro;)/i);\n  const loyer_cc = priceMatch ? parseInt(priceMatch[1], 10) : null;\n  const titreMatch = blockNorm.match(/c-theme-heading-3[^>]*>([\\s\\S]*?)<\\/div>/i);\n  const titre = titreMatch ? titreMatch[1].replace(/<[^>]+>/g, ' ').trim().slice(0, 200) : ('Annonce ' + id_site);\n  const descMatch = blockNorm.match(/tw-truncate-safe[\\s\\S]*?>([\\s\\S]*?)<\\/div>/i);\n  const description = descMatch ? descMatch[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 500) : '';\n  out.push({\n    json: {\n      source: 'century21',\n      id_site,\n      titre,\n      description,\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nreturn out;"
      }
    },
    {
      "id": "blot-ids-http",
      "name": "Blot - Récup IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        3904
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.blot-immobilier.fr/wp-admin/admin-ajax.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "search_form_validate"
            },
            {
              "name": "form[0][name]",
              "value": "action"
            },
            {
              "name": "form[0][value]",
              "value": "blot_search"
            },
            {
              "name": "form[1][name]",
              "value": "transaction_principale"
            },
            {
              "name": "form[1][value]",
              "value": "Louer"
            },
            {
              "name": "form[2][name]",
              "value": "estate_transaction_type"
            },
            {
              "name": "form[2][value]",
              "value": "Location"
            },
            {
              "name": "form[3][name]",
              "value": "estate_type"
            },
            {
              "name": "form[3][value]",
              "value": "maison"
            },
            {
              "name": "form[4][name]",
              "value": "estate_type"
            },
            {
              "name": "form[4][value]",
              "value": "appartement"
            },
            {
              "name": "form[5][name]",
              "value": "estate_description_crm"
            },
            {
              "name": "form[5][value]",
              "value": ""
            },
            {
              "name": "form[6][name]",
              "value": "estate_reference"
            },
            {
              "name": "form[6][value]",
              "value": ""
            },
            {
              "name": "form[7][name]",
              "value": "city"
            },
            {
              "name": "form[7][value]",
              "value": ""
            },
            {
              "name": "form[8][name]",
              "value": "estate_state"
            },
            {
              "name": "form[8][value]",
              "value": "35"
            },
            {
              "name": "form[9][name]",
              "value": "estate_personalized_radius"
            },
            {
              "name": "form[9][value]",
              "value": ""
            },
            {
              "name": "form[10][name]",
              "value": "estate_personalized_lat"
            },
            {
              "name": "form[10][value]",
              "value": ""
            },
            {
              "name": "form[11][name]",
              "value": "estate_personalized_lon"
            },
            {
              "name": "form[11][value]",
              "value": ""
            },
            {
              "name": "form[12][name]",
              "value": "estate_rentmax"
            },
            {
              "name": "form[12][value]",
              "value": "={{ $('Config critères (défaut)').first().json.prix_max_cc || 700 }}"
            },
            {
              "name": "form[13][name]",
              "value": "estate_living_surfacemin"
            },
            {
              "name": "form[13][value]",
              "value": "={{ $('Config critères (défaut)').first().json.surface_min_m2 || 35 }}"
            },
            {
              "name": "form[14][name]",
              "value": "estate_living_surfacemax"
            },
            {
              "name": "form[14][value]",
              "value": "={{ $('Config critères (défaut)').first().json.surface_max_m2 || 75 }}"
            },
            {
              "name": "form[15][name]",
              "value": "estate_surface_globalmin"
            },
            {
              "name": "form[15][value]",
              "value": ""
            },
            {
              "name": "form[16][name]",
              "value": "estate_surface_globalmax"
            },
            {
              "name": "form[16][value]",
              "value": ""
            },
            {
              "name": "form[17][name]",
              "value": "estate_nb_rooms"
            },
            {
              "name": "form[17][value]",
              "value": "={{ $('Config critères (défaut)').first().json.pieces_min || 2 }}"
            },
            {
              "name": "form[18][name]",
              "value": "estate_field_surface"
            },
            {
              "name": "form[18][value]",
              "value": ""
            },
            {
              "name": "form[19][name]",
              "value": "estate_type_import"
            },
            {
              "name": "form[19][value]",
              "value": "Habitations vendus"
            },
            {
              "name": "only_saled_estate",
              "value": "false"
            },
            {
              "name": "clean_vendu",
              "value": "false"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "blot-transform",
      "name": "Blot - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        3904
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ids = $input.first().json?.data?.results;\nif (!Array.isArray(ids) || ids.length === 0) return [];\nconst bodyParts = ['action=view_result'];\nfor (const id of ids) {\n  bodyParts.push(`data%5B%5D=${encodeURIComponent(String(id))}`);\n}\nbodyParts.push('transaction=Location');\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://www.blot-immobilier.fr/wp-admin/admin-ajax.php',\n  headers: {\n    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0',\n    'Accept': 'application/json, text/javascript, */*; q=0.01',\n    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'\n  },\n  body: bodyParts.join('&')\n});\nconst htmlCards = response?.data?.html;\nif (!Array.isArray(htmlCards) || htmlCards.length === 0) return [];\nfunction cleanText(s) {\n  if (!s || typeof s !== 'string') return '';\n  return s.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&#039;/g, \"'\").replace(/\\s+/g, ' ').trim();\n}\nconst out = [];\nfor (const card of htmlCards) {\n  if (!card || typeof card !== 'string') continue;\n  const idMatch = card.match(/id=\"estate-id\"\\s+value=\"([^\"]+)\"/i);\n  const id_site = idMatch ? String(idMatch[1]).trim() : '';\n  const hrefMatch = card.match(/<a\\s+href=\"([^\"]+)\"[^>]*title=\"Cliquer pour voir/i);\n  const href = hrefMatch ? hrefMatch[1].trim() : '';\n  const url = href ? (href.startsWith('http') ? href : `https://www.blot-immobilier.fr${href}`) : '';\n  const titleMatch = card.match(/<h2 class=\"estate-card__title\">([\\s\\S]*?)<\\/h2>/i);\n  const titre = titleMatch ? cleanText(titleMatch[1]) : (id_site ? `Annonce ${id_site}` : 'Annonce Blot');\n  const locMatch = card.match(/<p class=\"estate-card__loc-text\">([\\s\\S]*?)<\\/p>/i);\n  const locText = locMatch ? cleanText(locMatch[1]) : '';\n  const villePart = locText.split(' - ')[0] || '';\n  const ville = villePart.replace(/\\(\\d+\\)\\s*$/, '').trim();\n  const quartier = locText.includes(' - ') ? locText.split(' - ').slice(1).join(' - ').trim() : '';\n  const roomsMatch = card.match(/<p class=\"estate-card__rooms-text\">([\\s\\S]*?)<\\/p>/i);\n  const roomsText = roomsMatch ? cleanText(roomsMatch[1]) : '';\n  const piecesMatch = roomsText.match(/(\\d+)\\s*pi[eè]ces?/i);\n  const pieces = piecesMatch ? parseInt(piecesMatch[1], 10) : null;\n  const surfaceMatch = roomsText.match(/(\\d+[\\.,]?\\d*)\\s*m²/i);\n  const surface_m2 = surfaceMatch ? parseFloat(surfaceMatch[1].replace(',', '.')) : null;\n  const priceMatch = card.match(/<span class=\"main-realty__number\">([\\s\\S]*?)<\\/span>/i);\n  let loyer_cc = null;\n  if (priceMatch) {\n    const n = cleanText(priceMatch[1]).replace(/[^\\d]/g, '');\n    if (n) loyer_cc = parseInt(n, 10);\n  }\n  out.push({\n    json: {\n      source: 'blot_immobilier',\n      id_site,\n      titre,\n      description: '',\n      ville,\n      quartier,\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nreturn out.filter(item => {\n  const key = `${item.json.id_site}|${item.json.url}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      }
    },
    {
      "id": "citya-http",
      "name": "Citya - Récup HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        4128
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.citya.com/annonces/location/appartement,maison/ille-et-vilaine-35?prixMax=' + ($('Config critères (défaut)').first().json.prix_max_cc || 700) + '&surfaceMin=' + ($('Config critères (défaut)').first().json.surface_min_m2 || 35) + '&nbrePiecesMin=' + ($('Config critères (défaut)').first().json.pieces_min || 2) }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:148.0) Gecko/20100101 Firefox/148.0"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "citya-transform",
      "name": "Citya - Vers format annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        4128
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const BASE = 'https://www.citya.com';\nconst item = $input.first();\nlet html = item.json?.body ?? item.json?.data ?? (typeof item.json === 'string' ? item.json : '');\nif (!html || typeof html !== 'string') return [];\nfunction stripHtml(s) {\n  if (!s || typeof s !== 'string') return '';\n  return s.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&#039;/g, \"'\").replace(/\\s+/g, ' ').trim();\n}\nfunction parsePiecesAndSurface(label) {\n  const txt = stripHtml(label);\n  let pieces = null;\n  let surface_m2 = null;\n  const piecesMatch = txt.match(/(\\d+)\\s*pi[eè]ces?/i);\n  if (piecesMatch) pieces = parseInt(piecesMatch[1], 10);\n  const surfMatch = txt.match(/(\\d+(?:[\\.,]\\d+)?)\\s*m(?:²|2)/i);\n  if (surfMatch) surface_m2 = parseFloat(surfMatch[1].replace(',', '.'));\n  return { pieces, surface_m2 };\n}\nfunction absoluteUrl(u) {\n  if (!u) return '';\n  if (u.startsWith('http')) return u;\n  return BASE + u;\n}\n// 1) JSON-LD (le plus stable)\nconst ldMatches = [...html.matchAll(/<script[^>]+type=\"application\\/ld\\+json\"[^>]*>([\\s\\S]*?)<\\/script>/gi)];\nfor (const m of ldMatches) {\n  const raw = (m[1] || '').trim();\n  if (!raw) continue;\n  let json;\n  try { json = JSON.parse(raw); } catch { continue; }\n  const offers = Array.isArray(json?.offers) ? json.offers : [];\n  if (!offers.length) continue;\n  const out = [];\n  for (const off of offers) {\n    const url = absoluteUrl(String(off?.url || '').trim());\n    const loyer_cc = off?.price != null ? Number(off.price) : null;\n    const addr = off?.itemOffered?.address || {};\n    const ville = String(addr?.addressLocality || '').trim();\n    const titreRaw = String(off?.itemOffered?.name || '').trim();\n    const { pieces, surface_m2 } = parsePiecesAndSurface(titreRaw);\n    let id_site = '';\n    const idMatch = url.match(/\\/([^\\/]+)\\/?$/);\n    if (idMatch) id_site = idMatch[1];\n    const titre = titreRaw || (id_site ? `Annonce ${id_site}` : 'Annonce Citya');\n    out.push({\n      json: {\n        source: 'citya',\n        id_site,\n        titre,\n        description: '',\n        ville,\n        quartier: '',\n        adresse: '',\n        pieces,\n        surface_m2,\n        loyer_cc: Number.isFinite(loyer_cc) ? loyer_cc : null,\n        charges: null,\n        meuble: null,\n        url,\n        date_publication: null\n      }\n    });\n  }\n  const seen = new Set();\n  return out.filter(it => {\n    const key = `${it.json.id_site}|${it.json.url}`;\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\n// 2) Fallback DOM (si JSON-LD absent)\nconst listMatch = html.match(/<ul[^>]*id=\"list_results\"[^>]*>([\\s\\S]*?)<\\/ul>/i);\nconst block = listMatch ? listMatch[1] : '';\nif (!block) return [];\nconst parts = block.split(/<li\\b/).slice(1);\nconst out = [];\nfor (const p of parts) {\n  const li = '<li' + p;\n  const idMatch = li.match(/data-itemId=\"([^\"]+)\"/i);\n  const id_site = idMatch ? idMatch[1].trim() : '';\n  const nameMatch = li.match(/data-itemName=\"([^\"]+)\"/i);\n  const itemName = nameMatch ? nameMatch[1] : '';\n  const { pieces, surface_m2 } = parsePiecesAndSurface(itemName);\n  const priceMatch = li.match(/data-price=\"(\\d+)\"/i);\n  const loyer_cc = priceMatch ? parseInt(priceMatch[1], 10) : null;\n  const hrefMatch = li.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+|\\/[^\"]+)\"/i);\n  const url = hrefMatch ? absoluteUrl(hrefMatch[1].trim()) : '';\n  const cityMatch = li.match(/<p[^>]*class=\"text-neutral-600 text-sm\"[^>]*>([^<]+\\(\\d+\\))<\\/p>/i);\n  let ville = '';\n  if (cityMatch) {\n    ville = stripHtml(cityMatch[1]).replace(/\\s*\\(\\d+\\)\\s*$/, '').trim();\n  }\n  const titre = stripHtml(itemName) || (id_site ? `Annonce ${id_site}` : 'Annonce Citya');\n  out.push({\n    json: {\n      source: 'citya',\n      id_site,\n      titre,\n      description: '',\n      ville,\n      quartier: '',\n      adresse: '',\n      pieces,\n      surface_m2,\n      loyer_cc: Number.isFinite(loyer_cc) ? loyer_cc : null,\n      charges: null,\n      meuble: null,\n      url,\n      date_publication: null\n    }\n  });\n}\nconst seen = new Set();\nreturn out.filter(it => {\n  const key = `${it.json.id_site}|${it.json.url}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      }
    },
    {
      "id": "merge-branches-17",
      "name": "Fusion + Oqoro",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        3440
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-18",
      "name": "Fusion + Century 21",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        3664
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-19",
      "name": "Fusion + Blot",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        3888
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-20",
      "name": "Fusion + Citya",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        4112
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "merge-branches-15",
      "name": "Fusion + Neotoa",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        2992
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "normalize-node",
      "name": "Normaliser annonces",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        224
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const allItems = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const html = (j.data != null && typeof j.data === 'string') ? j.data : (j.body != null && typeof j.body === 'string') ? j.body : '';\n  let source = j.source || '';\n  if (html && !source) {\n    if (/bienici\\.com|bien'ici/i.test(html)) source = 'bienici';\n    else if (/seloger/i.test(html)) source = 'seloger';\n    else source = 'inconnu';\n  }\n  if (html && !j.titre && !j.loyer_cc && !j.surface_m2) {\n    continue;\n  }\n  if (!j.titre && (j.loyer_cc == null || j.loyer_cc === 0) && (j.surface_m2 == null || j.surface_m2 === 0)) {\n    continue;\n  }\n  allItems.push({\n    json: {\n      source: source || 'inconnu',\n      id_site: j.id_site || '',\n      titre: j.titre || '',\n      description: j.description || '',\n      ville: j.ville || '',\n      quartier: j.quartier || '',\n      adresse: j.adresse || '',\n      pieces: j.pieces ?? null,\n      surface_m2: j.surface_m2 ?? null,\n      loyer_cc: j.loyer_cc ?? null,\n      charges: j.charges ?? null,\n      meuble: j.meuble ?? null,\n      url: j.url || '',\n      date_publication: j.date_publication ?? null\n    }\n  });\n}\nreturn allItems;"
      }
    },
    {
      "id": "filter-node",
      "name": "Filtrer selon critères",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        224
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const cfg = $('Config critères (défaut)').first().json;\nfunction normalizeVille(str) {\n  return (str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[̀-ͯ]/g, '')\n    .replace(/-/g, ' ')\n    .replace(/\\s+s\\/\\s+/gi, ' sur ')\n    .replace(/\\bseich\\b/gi, 'seiche')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction matchVille(item) {\n  const villeNorm = normalizeVille(item.ville);\n  const contenu = ((item.quartier || '') + ' ' + (item.description || '') + ' ' + (item.titre || '')).toLowerCase();\n  const villesCiblesNorm = JSON.parse(cfg.villes_cibles || '[]').map(v => normalizeVille(v));\n  if (villesCiblesNorm.includes(villeNorm)) return true;\n  if (villeNorm === normalizeVille(cfg.ville_speciale || '')) {\n    const quartiersRennes = (cfg.quartiers_rennes_seulement || '').split(',').map(q => q.trim().toLowerCase()).filter(Boolean);\n    return quartiersRennes.some(q => contenu.includes(q));\n  }\n  return false;\n}\nconst output = [];\nfor (const item of $input.all()) {\n  const a = item.json;\n  const surface = Number(a.surface_m2 || 0);\n  const prix = Number(a.loyer_cc || 0);\n  const pieces = Number(a.pieces || 0);\n  if (surface < cfg.surface_min_m2 || surface > cfg.surface_max_m2) continue;\n  if (prix <= 0 || prix > cfg.prix_max_cc) continue;\n  if (pieces < cfg.pieces_min || pieces > cfg.pieces_max) continue;\n  if (!matchVille(a)) continue;\n  output.push({ json: a });\n}\nreturn output;"
      }
    },
    {
      "id": "id-global-node",
      "name": "Construire id_global",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        224
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function normalize(str) {\n  return (str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[^a-z0-9 ]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nconst j = $input.item.json;\nconst keyBase = [\n  normalize(j.ville),\n  normalize(j.quartier),\n  normalize(j.titre),\n  String(j.surface_m2 || ''),\n  String(j.loyer_cc || '')\n].join('|');\nlet hash = 0;\nfor (let i = 0; i < keyBase.length; i++) {\n  hash = ((hash << 5) - hash) + keyBase.charCodeAt(i);\n  hash |= 0;\n}\nj.id_global = 'a_' + Math.abs(hash);\nj._isAnnonce = true;\nreturn { json: j };"
      }
    },
    {
      "id": "sheets-read-all",
      "name": "GS - Lire toutes les lignes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        528
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1iPINAVHymzg7lN4DIi3YJyFYXIwpVvy7C0zPNGMcL3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feuille 1",
          "mode": "name"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "merge-doublons",
      "name": "Merge annonces + sheet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1904,
        240
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "filter-doublons-code",
      "name": "Filtrer doublons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const all = $input.all();\nconst annonces = all.filter(i => i.json._isAnnonce === true);\nconst sheetRows = all.filter(i => i.json._isAnnonce !== true);\nfunction getId(row) {\n  const j = row.json;\n  const key = Object.keys(j).find(k => k.trim().toLowerCase() === 'id_global');\n  return String(key ? j[key] : j.id_global || '').trim();\n}\nconst existingIds = new Set(sheetRows.map(r => getId(r)));\nlet kept = annonces.filter(a => !existingIds.has(getId(a)));\nconst seenId = new Set();\nkept = kept.filter(a => { const id = getId(a); if (seenId.has(id)) return false; seenId.add(id); return true; });\nreturn kept.map(a => {\n  const j = { ...a.json };\n  delete j._isAnnonce;\n  return { json: j };\n});"
      }
    },
    {
      "id": "sheets-append",
      "name": "GS - Enregistrer annonces",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        16
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iPINAVHymzg7lN4DIi3YJyFYXIwpVvy7C0zPNGMcL3c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Feuille 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_global": "={{ $json.id_global }}",
            "id_site": "={{ $json.id_site }}",
            "source": "={{ $json.source }}",
            "titre": "={{ $json.titre }}",
            "description": "={{ $json.description }}",
            "ville": "={{ $json.ville }}",
            "quartier": "={{ $json.quartier }}",
            "adresse": "={{ $json.adresse }}",
            "pieces": "={{ $json.pieces }}",
            "surface_m2": "={{ $json.surface_m2 }}",
            "loyer_cc": "={{ $json.loyer_cc }}",
            "charges": "={{ $json.charges }}",
            "meuble": "={{ $json.meuble }}",
            "url": "={{ $json.url }}",
            "date_publication": "={{ $json.date_publication }}",
            "date_detection": "={{ $now.toISO() }}",
            "statut": "nouveau"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "groq-http",
      "name": "Groq - Générer message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        384
      ],
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Tu rédiges des messages courts pour Telegram à partir d'annonces immobilières.\" },\n    { \"role\": \"user\", \"content\": \"Résumé 3-4 lignes en français. Inclure type (T2/T3), ville/quartier, surface, prix CC et lien.\\nTitre: {{ $json.titre }}\\nVille: {{ $json.ville }} {{ $json.quartier }}\\nSurface: {{ $json.surface_m2 }} m², Loyer: {{ $json.loyer_cc }} €/mois CC\\nURL: {{ $json.url }}\" }\n  ]\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq_API"
        }
      }
    },
    {
      "id": "extract-message-node",
      "name": "Extraire texte Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        384
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const res = $input.item.json;\nconst choice = (res.choices && res.choices[0]) || {};\nconst msg = (choice.message && choice.message.content) || '';\nconst prev = $('Filtrer doublons').item.json;\nreturn { json: { ...prev, message_telegram: msg || 'Nouvelle annonce' } };"
      }
    },
    {
      "id": "telegram-node",
      "name": "Telegram - Envoyer message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2928,
        384
      ],
      "parameters": {
        "chatId": "6558659046",
        "text": "={{ $json.message_telegram || 'Nouvelle annonce' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "telegram-alerte-erreur",
      "name": "Telegram - Alerte erreur agence",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2928,
        600
      ],
      "parameters": {
        "chatId": "6558659046",
        "text": "=⚠️ Erreur agence (récup annonces)\n\nNœud : {{ $prevNode.name }}\n\nError: {{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram"
        }
      }
    }
  ],
  "connections": {
    "Cron - Vérif annonces": {
      "main": [
        [
          {
            "node": "Config critères (défaut)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config critères (défaut)": {
      "main": [
        [
          {
            "node": "Bienici - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trente Cinq Notaires - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Action Logement - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Giboire - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Afedim - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ouest France Immo - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Foncia - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "La Française Immobilière - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guenno - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lamotte - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kermarrec - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nestenn - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Square Habitat - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "CA Immobilier - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cogir Immobilier - Récup annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Neotoa - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "CDC Habitat - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Oqoro - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Century 21 - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blot - Récup IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Citya - Récup HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "GS - Lire toutes les lignes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bienici - Récup annonces": {
      "main": [
        [
          {
            "node": "Bienici - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bienici - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion Bienici + TCN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trente Cinq Notaires - Récup HTML": {
      "main": [
        [
          {
            "node": "Trente Cinq Notaires - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trente Cinq Notaires - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion Bienici + TCN",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Action Logement - Récup annonces": {
      "main": [
        [
          {
            "node": "Action Logement - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Logement - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Action Logement",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Giboire - Récup annonces": {
      "main": [
        [
          {
            "node": "Giboire - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giboire - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Giboire",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Afedim - Récup annonces": {
      "main": [
        [
          {
            "node": "Afedim - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Afedim - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Afedim",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ouest France Immo - Récup annonces": {
      "main": [
        [
          {
            "node": "Ouest France Immo - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ouest France Immo - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Ouest France Immo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Foncia - Récup annonces": {
      "main": [
        [
          {
            "node": "Foncia - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foncia - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Foncia",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "La Française Immobilière - Récup annonces": {
      "main": [
        [
          {
            "node": "La Française Immobilière - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "La Française Immobilière - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + La Française Immobilière",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Guenno - Récup annonces": {
      "main": [
        [
          {
            "node": "Guenno - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guenno - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Guenno",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lamotte - Récup annonces": {
      "main": [
        [
          {
            "node": "Lamotte - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lamotte - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Lamotte",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Kermarrec - Récup annonces": {
      "main": [
        [
          {
            "node": "Kermarrec - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kermarrec - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Kermarrec",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nestenn - Récup annonces": {
      "main": [
        [
          {
            "node": "Nestenn - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nestenn - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Nestenn",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Square Habitat - Récup annonces": {
      "main": [
        [
          {
            "node": "Square Habitat - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Square Habitat - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Square Habitat",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CA Immobilier - Récup annonces": {
      "main": [
        [
          {
            "node": "CA Immobilier - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CA Immobilier - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + CA Immobilier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cogir Immobilier - Récup annonces": {
      "main": [
        [
          {
            "node": "Cogir Immobilier - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cogir Immobilier - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Cogir Immobilier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Neotoa - Récup HTML": {
      "main": [
        [
          {
            "node": "Neotoa - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neotoa - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Neotoa",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CDC Habitat - Récup HTML": {
      "main": [
        [
          {
            "node": "CDC Habitat - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CDC Habitat - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + CDC Habitat",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Oqoro - Récup HTML": {
      "main": [
        [
          {
            "node": "Oqoro - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oqoro - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Oqoro",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fusion Bienici + TCN": {
      "main": [
        [
          {
            "node": "Fusion + Action Logement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Action Logement": {
      "main": [
        [
          {
            "node": "Fusion + Giboire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Giboire": {
      "main": [
        [
          {
            "node": "Fusion + Afedim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Afedim": {
      "main": [
        [
          {
            "node": "Fusion + Ouest France Immo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Ouest France Immo": {
      "main": [
        [
          {
            "node": "Fusion + Foncia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Foncia": {
      "main": [
        [
          {
            "node": "Fusion + La Française Immobilière",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + La Française Immobilière": {
      "main": [
        [
          {
            "node": "Fusion + Guenno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Lamotte": {
      "main": [
        [
          {
            "node": "Fusion + Kermarrec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Kermarrec": {
      "main": [
        [
          {
            "node": "Fusion + Nestenn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Nestenn": {
      "main": [
        [
          {
            "node": "Fusion + Square Habitat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Square Habitat": {
      "main": [
        [
          {
            "node": "Fusion + CA Immobilier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + CA Immobilier": {
      "main": [
        [
          {
            "node": "Fusion + Cogir Immobilier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Cogir Immobilier": {
      "main": [
        [
          {
            "node": "Fusion + Neotoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Neotoa": {
      "main": [
        [
          {
            "node": "Fusion + CDC Habitat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + CDC Habitat": {
      "main": [
        [
          {
            "node": "Fusion + Oqoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Oqoro": {
      "main": [
        [
          {
            "node": "Fusion + Century 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Century 21 - Récup HTML": {
      "main": [
        [
          {
            "node": "Century 21 - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Century 21 - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Century 21",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Blot - Récup IDs": {
      "main": [
        [
          {
            "node": "Blot - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blot - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Blot",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Citya - Récup HTML": {
      "main": [
        [
          {
            "node": "Citya - Vers format annonces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Alerte erreur agence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citya - Vers format annonces": {
      "main": [
        [
          {
            "node": "Fusion + Citya",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fusion + Century 21": {
      "main": [
        [
          {
            "node": "Fusion + Blot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Blot": {
      "main": [
        [
          {
            "node": "Fusion + Citya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Citya": {
      "main": [
        [
          {
            "node": "Normaliser annonces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser annonces": {
      "main": [
        [
          {
            "node": "Filtrer selon critères",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer selon critères": {
      "main": [
        [
          {
            "node": "Construire id_global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire id_global": {
      "main": [
        [
          {
            "node": "Merge annonces + sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lire toutes les lignes": {
      "main": [
        [
          {
            "node": "Merge annonces + sheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge annonces + sheet": {
      "main": [
        [
          {
            "node": "Filtrer doublons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer doublons": {
      "main": [
        [
          {
            "node": "GS - Enregistrer annonces",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq - Générer message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Générer message": {
      "main": [
        [
          {
            "node": "Extraire texte Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire texte Groq": {
      "main": [
        [
          {
            "node": "Telegram - Envoyer message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion + Guenno": {
      "main": [
        [
          {
            "node": "Fusion + Lamotte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Paris"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}